/*------------------------------------*\
		Palette
\*------------------------------------

/* Qui dentro si mettono tutte le "pre-variabili" da cui poi attingono gli altri campi.
Sono state spostate qui in file separato per non dover fare continuamente su e giù con il fglio variabili

Prevariabili tipo sono
- colori
- transizioni
- shadow
- icone etc...

*/

@layer base {

	:root {


        /*------------------------------------*\
			+Palette
		\*------------------------------------*/

		/* Colori Specifici Progetto */
		--color-cnd-blue-100: #48CBFF;
		--color-cnd-blue-300: #339df9;
		--color-cnd-blue: #0084f8;
		--color-cnd-blue-700: #006ac6;
		--color-cnd-gray-300: #758189;
		--color-cnd-gray: #52616b; /* Secondario, usato quasi ovunque al posto del black e nei titoli scuri */
		--color-cnd-gray-700: #424e56;


        /*------------------------------------*\
			+Colori Main Progetto
		\*------------------------------------*/

		--color-primary-100: var(--color-cnd-blue-100);
		--color-primary-300: var(--color-cnd-blue-300);
		--color-primary: var(--color-cnd-blue); /* blu */
		--color-primary-700: var(--color-cnd-blue-700);

		--color-secondary: var(--color-cnd-gray); /* grigio */
		--color-secondary-300: var(--color-cnd-blue-300); /* Blu chiaro marco*/
		--color-secondary-700: var(--color-cnd-blue-700); /* Blu scuro marco*/

		--color-accent: var(--color-cnd-blue);


		--color-success-50: #ecfdf5; /* TW Emerald-50 */
		--color-success-300: #34d399; /* TW Emerald-400 */
		--color-success: #10b981; /* TW Emerald-500 */
        --color-warning-50: #fff7ed; /* TW Orange-50 */
        --color-warning-300: #fb923c; /* TW Orange-400 */
        --color-warning: #f97316; /* TW Orange-500 */
        --color-alert-50: #fef2f2; /* TW Red-50 */
        --color-alert-300: #ef4444; /* TW Red-500 */
        --color-alert: #dc2626; /* TW Red-600 */

		/* ciano magenta e giallo sono colori funzionali, usati principalmente per kitchen sink e pagine di lavorazione per staff */
		--color-cyan: #00ffff;
		--color-magenta: #ff00ff;
		--color-yellow: #ffff00;

        --color-white: #ffffff;
        --color-black: #000000;



		/*------------------------------------*\
			+Colori Isdark / Islight
		\*------------------------------------*/
		/* Ci sono tre gradazioni di colore chiaro: full, default, weak, rispettivamente per gli elementi in evidenza, normali e in secondo piano. Poi c'è il colore interattivo di default e quello per i disabled.
		Gli stessi colori vengono poi ridefiniti per l'isdark */


		/* Colori Islight */
		--color-islight-full:  var(--color-cnd-gray-700); /* Il più scuro e pieno per gli elementi in evidenza */
		--color-islight-default:  var(--color-cnd-gray); /* Un po' meno scuro e pieno del full */
		--color-islight-weak:  var(--color-cnd-gray-300); /* Un po' meno scuro e pieno del full */
		--color-islight-interactive:  var(--color-primary); /* Colore del link */
		--color-islight-interactive-hover:  var(--color-primary-300); /* Colore del link hover*/
		--color-islight-disabled:  #aaa; /* Di solito grigio chiaro del disabilitato */


		/* Colori Isdark */
		--color-isdark-full:  var(--color-white); /* Il più scuro e pieno per far risaltare le cose */
		--color-isdark-default:  #fafafa; /* Un po' meno scuro e pieno del full */
		--color-isdark-weak:  #ddd; /* Colore del link */
		--color-islight-interactive:  var(--color-primary); /* Colore del link */
		--color-isdark-interactive-hover:  var(--color-primary-300); /* Colore del link hover*/
		--color-isdark-disabled:  #aaa; /* Di solito grigio chiaro del disabilitato */




       	/*------------------------------------*\
			+Shadows
		\*------------------------------------*/
		/* Tutte da fare, capire se usare drop-shadow o shadow */


		/*------------------------------------*\
			+Transitions
		\*------------------------------------*/

		/* I valori qui servono esclusivamente per costuire le transizioni dentro le variabili visto che non si possono importare le classi Tailwind che venogno dichiarate dopo.
		Qui si settano solo tre cose:
		- i valori di transition property, copiati da quelli di Tailwind (all, default: si applica già su un tot di cose, colors: solo per i colori)
		- i tempi delle durate, che sono basati sulla tempo unit. Questi tempi vengono aggiunti anche nel file config e sono richiamabili come classi duration-fast/normal/slow
		- il valore di ease-in-out che usiamo di default su tutte le transizioni (copiato da quello default di Tailwind)
		In questo modo sotto è possibile ricostruire le trasformazioni allegando catene di variabili css
		*/

		--transition-property-all: all;
		--transition-property-default: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
		--transition-property-colors: background-color, border-color, color, fill, stroke;

		--tempo-unit: 150ms;
		--duration-fast: calc(var(--tempo-unit) * 1);
		--duration-normal: calc(var(--tempo-unit) * 2);
		--duration-slow: calc(var(--tempo-unit) * 4);
		--duration-xslow: calc(var(--tempo-unit) * 6);
		/* Queste duration sono riportate nel file di configurazione Tailwind js come extend */

		--transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
		--transition-ease-in-out: ease-in-out;
		--transition-linear: linear;


		/* NOTA
		Le catene di variabili transition se devono essere dichiarate nel css in modo compatto con unica proprietà transition, devono a loro volta essere racchiuse dentro una variabile singola, se no non funzionano. Se metto cioé nel css

		transition: var(--transition-property-all) var(--duration-fast) var(--transition-linear);

		non funziona. quindi ho due strade

		A) Dichiarare le variabili singolarmente in singoli attributi. es.
		transition-property: var(--transition-property-default); etc..

		B) Racchiudere le catene in una variabile unica es.
		--button-transition: var(--transition-property-all) var(--transition-bezier) var(--duration-normal);
		e poi
		transition: var(--button-transition);

		C) un mix delle due quindi
		transition: var(--button-transition);
		transition-property: var(--transition-property-default); come contrordine
		/*

		/* Aggregati di transition ************************
		Se servono concatenazioni di transition per usarle poi nel css finale come variabile unica allora si inseriscono qui sotto
		*/

		--transition-button-default: var(--transition-property-all) var(--transition-bezier) var(--duration-normal);
		--transition-anchor-default: var(--transition-property-all) var(--transition-bezier) var(--duration-normal);



		/*------------------------------------*\
			+Icons
		\*------------------------------------*/

		/*
		Si possono usare icone png come file esterni e icone svg inserite direttamente dentro il css

		Di base le icone core si trovano dentro la cartella core > assets > img > canva-icons e quelle in svg sono in doppia versione, normale senza colore e versione black.
		Le icone svg vanno aperte, editate eventualmente come colore, convertite in URI (no base 64) su questo link
		https://websemantics.uk/tools/svg-to-background-image-conversion/


		Perché le icone SVG siano pienamente utilizzabili come bg devono avere
		- un colore espresso in fill e codificato in base 64 che poi può essere modificato anche solo nel codice es fill='%23000000'
		Per essere utilizzabili anche come cursore devono avere
		- una dimensione in altezza e larghezza es.  width='32' height='32' (max 128px se no il browser le ignora) la dimensione es. 24px serve solo per l'utilizzo come cursore, ma non inficia che la svg possa essere molto più grande se inserita come bg o dentro un contenitore
		*/

		--icon-check: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-32 0 512 512'%3E%3Cpath fill='%23000000' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");

		--icon-check-isdark: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-32 0 512 512'%3E%3Cpath fill='%23ffffff' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");

		--icon-arrow-up: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 256 256'%3E%3Cpath fill='%2352616B' d='M136.8,248h-17.7V58.7c0,0.1-0.1,0.1-0.1,0.2c-16.9,27.2-39.8,41.6-66.3,41.6V82.8c49.3,0,66.1-67.4,66.2-68.1 l1.6-6.8h14.8l1.6,6.8c0,0,0,0,0,0c0.5,1.8,17.5,68,66.2,68v17.7c-26.5,0-49.4-14.4-66.2-41.6c-0.1-0.1-0.1-0.2-0.2-0.3V248z'/%3E%3C/svg%3E");

		--icon-arrow-right: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 256 256'%3E%3Cpath fill='%2352616B' d='M7.9,136.8l0-17.7h189.3c-0.1,0-0.1-0.1-0.2-0.1c-27.2-16.9-41.6-39.8-41.6-66.3h17.7 c0,49.3,67.4,66.1,68.1,66.2l6.8,1.6v14.8l-6.8,1.6c0,0,0,0,0,0c-1.8,0.5-68,17.5-68,66.2h-17.7c0-26.5,14.4-49.4,41.6-66.2 c0.1-0.1,0.2-0.1,0.3-0.2H7.9z'/%3E%3C/svg%3E");

		--icon-arrow-right-primary: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 256 256'%3E%3Cpath fill='%230084f8' d='M7.9,136.8l0-17.7h189.3c-0.1,0-0.1-0.1-0.2-0.1c-27.2-16.9-41.6-39.8-41.6-66.3h17.7 c0,49.3,67.4,66.1,68.1,66.2l6.8,1.6v14.8l-6.8,1.6c0,0,0,0,0,0c-1.8,0.5-68,17.5-68,66.2h-17.7c0-26.5,14.4-49.4,41.6-66.2 c0.1-0.1,0.2-0.1,0.3-0.2H7.9z'/%3E%3C/svg%3E");

		--icon-arrow-down: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 256 256'%3E%3Cpath fill='%2352616B' d='M119.2,8l17.7,0v189.3c0-0.1,0.1-0.1,0.1-0.2c16.9-27.2,39.8-41.6,66.3-41.6v17.7c-49.3,0-66.1,67.4-66.2,68.1 l-1.6,6.8h-14.8l-1.6-6.8c0,0,0,0,0,0c-0.5-1.8-17.5-68-66.2-68v-17.7c26.5,0,49.4,14.4,66.2,41.6c0.1,0.1,0.1,0.2,0.2,0.3V8z'/%3E%3C/svg%3E");

		--icon-arrow-left: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 256 256'%3E%3Cpath fill='%2352616B' d='M248,119.2v17.7H58.7c0.1,0,0.1,0.1,0.2,0.1c27.2,16.9,41.6,39.8,41.6,66.3H82.8c0-49.3-67.4-66.1-68.1-66.2 L8,135.4v-14.8l6.8-1.6c0,0,0,0,0,0c1.8-0.5,68-17.5,68-66.2h17.7c0,26.5-14.4,49.4-41.6,66.2c-0.1,0.1-0.2,0.1-0.3,0.2H248z'/%3E%3C/svg%3E");

		--icon-arrows: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M337.782 434.704l-73.297 73.782c-4.686 4.686-12.284 4.686-16.971 0l-73.296-73.782c-4.686-4.686-4.686-12.284 0-16.97l7.07-7.07c4.686-4.686 12.284-4.686 16.971 0L239 451.887h1V272H60.113v1l41.224 40.741c4.686 4.686 4.686 12.284 0 16.971l-7.071 7.07c-4.686 4.686-12.284 4.686-16.97 0L3.515 264.485c-4.686-4.686-4.686-12.284 0-16.971l73.782-73.297c4.686-4.686 12.284-4.686 16.971 0l7.071 7.071c4.686 4.686 4.686 12.284 0 16.971L60.113 239v1H240V60.113h-1l-40.741 41.224c-4.686 4.686-12.284 4.686-16.971 0l-7.07-7.071c-4.686-4.686-4.687-12.284 0-16.97l73.297-73.782c4.686-4.686 12.284-4.686 16.971 0l73.297 73.782c4.686 4.686 4.686 12.284 0 16.971l-7.071 7.071c-4.686 4.686-12.284 4.686-16.971 0L273 60.113h-1V240h179.887v-1l-41.224-40.741c-4.686-4.686-4.686-12.284 0-16.971l7.071-7.07c4.686-4.686 12.284-4.686 16.97 0l73.782 73.297c4.687 4.686 4.686 12.284 0 16.971l-73.782 73.297c-4.686 4.686-12.284 4.686-16.97 0l-7.071-7.07c-4.686-4.686-4.686-12.284 0-16.971L451.887 273v-1H272v179.887h1l40.741-41.224c4.686-4.686 12.284-4.686 16.971 0l7.07 7.071c4.686 4.685 4.686 12.283 0 16.97z'/%3E%3C/svg%3E");

		--icon-times: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 320 512'%3E%3Cpath fill='%23000000' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/%3E%3C/svg%3E");

		--icon-search-plus: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M319.8 204v8c0 6.6-5.4 12-12 12h-84v84c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12v-84h-84c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h84v-84c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v84h84c6.6 0 12 5.4 12 12zm188.5 293L497 508.3c-4.7 4.7-12.3 4.7-17 0l-129-129c-2.3-2.3-3.5-5.3-3.5-8.5v-8.5C310.6 395.7 261.7 416 208 416 93.8 416 1.5 324.9 0 210.7-1.5 93.7 93.7-1.5 210.7 0 324.9 1.5 416 93.8 416 208c0 53.7-20.3 102.6-53.7 139.5h8.5c3.2 0 6.2 1.3 8.5 3.5l129 129c4.7 4.7 4.7 12.3 0 17zM384 208c0-97.3-78.7-176-176-176S32 110.7 32 208s78.7 176 176 176 176-78.7 176-176z'/%3E%3C/svg%3E");

		--icon-search-minus: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M307.8 223.8h-200c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12zM508.3 497L497 508.3c-4.7 4.7-12.3 4.7-17 0l-129-129c-2.3-2.3-3.5-5.3-3.5-8.5v-8.5C310.6 395.7 261.7 416 208 416 93.8 416 1.5 324.9 0 210.7-1.5 93.7 93.7-1.5 210.7 0 324.9 1.5 416 93.8 416 208c0 53.7-20.3 102.6-53.7 139.5h8.5c3.2 0 6.2 1.3 8.5 3.5l129 129c4.7 4.7 4.7 12.3 0 17zM384 208c0-97.3-78.7-176-176-176S32 110.7 32 208s78.7 176 176 176 176-78.7 176-176z'/%3E%3C/svg%3E");

		--icon-fullscreen: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M0 212V88c0-13.3 10.7-24 24-24h124c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H32v116c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12zM364 64h124c13.3 0 24 10.7 24 24v124c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12V96H364c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12zm148 236v124c0 13.3-10.7 24-24 24H364c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h116V300c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12zM148 448H24c-13.3 0-24-10.7-24-24V300c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v116h116c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12z'/%3E%3C/svg%3E");

		--icon-share: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 -32 576 576'%3E%3Cpath fill='%23000000' d='M564.907 196.35L388.91 12.366C364.216-13.45 320 3.746 320 40.016v88.154C154.548 130.155 0 160.103 0 331.19c0 94.98 55.84 150.231 89.13 174.571 24.233 17.722 58.021-4.992 49.68-34.51C100.937 336.887 165.575 321.972 320 320.16V408c0 36.239 44.19 53.494 68.91 27.65l175.998-184c14.79-15.47 14.79-39.83-.001-55.3zm-23.127 33.18l-176 184c-4.933 5.16-13.78 1.73-13.78-5.53V288c-171.396 0-295.313 9.707-243.98 191.7C72 453.36 32 405.59 32 331.19 32 171.18 194.886 160 352 160V40c0-7.262 8.851-10.69 13.78-5.53l176 184a7.978 7.978 0 0 1 0 11.06z'/%3E%3C/svg%3E");


	}
}
