/*------------------------------------*\

	------------------------
	Elementi custom Progetto
	------------------------

\*------------------------------------*/


/*------------------------------------*\
    Grid
\*------------------------------------*/

/* _main__section viene definitio di default direttamente dentro il file grid-spacing.css */



/*------------------------------------*\
    Colors e Background
\*------------------------------------*/

/* Ridefinire le varibaili dei grigi come da palette */


.bg-gray-900 			{ background: var(--color-dpc-darkest-gray); }


/*------------------------------------*\
    Shadows
\*------------------------------------*/



/*------------------------------------*\
    Tipografia
\*------------------------------------*/


/*------------------------------------*\
    UI
\*------------------------------------*/

._card ._product-figure {
	transition: var(--default-button-transition);
}

._card:hover ._product-figure {
	transform: scale(1.05);
}
