/*------------------------------------*\

	------------------------
	Elementi custom Progetto
	------------------------

\*------------------------------------*/


/*------------------------------------*\
    Grid
\*------------------------------------*/

/* _main__section viene definitio di default direttamente dentro il file grid-spacing.css */



/*------------------------------------*\
    Colors e Background
\*------------------------------------*/

/* Ridefinire le varibaili dei grigi come da palette */


.bg-abc-yellow-100 		{ background: var(--color-abc-yellow-100); }
.bg-gray-100 			{ background: var(--color-abc-clear-gray); }

.bg-gray-100-filter-blur {
	background-color: rgba(245,245,245,var(--tw-bg-opacity));
}

@supports (backdrop-filter: blur(12px)) {
	.bg-gray-100-filter-blur {
		background-color: rgba(245,245,245,.75);
		backdrop-filter: blur(12px);
	}
}



.text-gray-400 			{ color: var(--color-abc-light-gray) !important; }
.text-gray-700 			{ color: var(--color-abc-darkest-gray) !important; }

.bg-skew {
	@apply bg-cover;
	background-position: top right;
	background-image: url(../img/bg-skew-blue.svg);
	background-repeat: no-repeat;
}

.bg-skew.yellow 		{ background-image: url(../img/bg-skew-yellow.svg); }
.bg-skew.gray 			{ background-image: url(../img/bg-skew-gray.svg); }
.bg-skew.clear-gray 	{ background-image: url(../img/bg-skew-clear-gray.svg); }


/*------------------------------------*\
    Shadows
\*------------------------------------*/


.shadow-md {
    /* --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05) !important; */
    --tw-shadow: 0 0 8px -1px rgba(0,0,0,.1),0 4px 8px -1px rgba(0,0,0,.06) !important;
}

.shadow-lg {
    /* --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05) !important; */
    --tw-shadow: 0 12px 20px -3px rgba(0,0,0,.15),0 8px 12px -2px rgba(0,0,0,.075) !important;
}



/*------------------------------------*\
    Tipografia
\*------------------------------------*/

.title-bg-skew {
	@apply inline-block pt-8 pb-2 pl-4 pr-12 bg-skew text-white bg-no-repeat;
}



/*------------------------------------*\
    UI
\*------------------------------------*/

.button.secondary, button.secondary {
	color: var(--color-black);
}

.button.accent, button.accent {
	color: var(--color-white);
}


/* Card
- Impostazioni default */

._card {
	transition: var(--button-transition);
	border-radius: var(--card-border-radius);
	background: var(--card-bg);
	overflow: hidden;
	/* box-shadow: 0 0 12px rgba(0, 0, 0, .15); */
	box-shadow: 0 0 10px 6px rgb(0 0 0 / 3%);
}

	._card:hover {
		box-shadow: 0 0 12px 8px rgb(0 0 0 / 8%);
	}

		._card-image {
			@apply md:px-4;
		}

		._card-info .price {
			@apply flex gap-2 flex-wrap items-baseline;
		}

			._card-info .woocommerce-Price-amount {
				font-size: 1.125em;
				font-weight: 700;
			}

				._card-info .woocommerce-price-suffix {
					display: block;
				}





/* Hero
primary Home */

body.home ._layer-visual {
	background: var(--color-abc-clear-gray);
}

._hero-primary {}

._hero-primary ._layer-bg {}

._hero-primary ._layer-bg {
	@apply w-full left-auto bg-gray-200;
}


._hero-primary ._layer-graphics,
._hero-primary ._layer-status {
	background: transparent;
}

@media (min-width:640px) {
	._hero-primary ._layer-graphics,
	._hero-primary ._layer-status {
		margin-left: -8%;
	}

	._hero-primary ._layer-graphics {
		@apply bg-skew bottom-8;
		background-image: url(../img/bg-skew-gray.svg);
	}

	._hero-primary ._layer-status {
		@apply bg-skew bottom-8 slide-in-left filter drop-shadow-md;
		transition-duration: var(--transition-bezier);
	}

	._hero-primary ._layer-bg {
		width: 50%;
	}
}

@media (min-width:960px) {
	._hero-primary ._layer-graphics,
	._hero-primary ._layer-status {
		margin-left: -20%;
	}
}

@media (min-width:1280px) {
	._hero-primary ._layer-graphics,
	._hero-primary ._layer-status {
		margin-left: -33%;
	}
}

@media (min-width:1600px) {
	._hero-primary ._layer-graphics,
	._hero-primary ._layer-status {
		margin-left: -40%;
	}

	._hero-primary ._layer-bg {
		width: 60%;
	}
}


/* Hero Archive */

._hero-archive ._layer-bg {
	@apply w-full left-auto bg-gray-200;
}


._hero-archive ._layer-graphics,
._hero-archive ._layer-status {
	background: transparent;
}

@media (min-width:960px) {
	._hero-archive ._layer-graphics,
	._hero-archive ._layer-status {
		margin-left: -27.5%;
	}

	._hero-archive ._layer-graphics {
		@apply bg-skew bottom-8;
		background-image: url(../img/bg-skew-gray.svg);
	}

	._hero-archive ._layer-status {
		@apply bg-skew bottom-8 slide-in-left filter drop-shadow-md;
		transition-duration: var(--transition-bezier);
	}

	._hero-archive ._layer-bg {
		width: 50%;
	}
}

@media (min-width:1280px) {
	._hero-archive ._layer-graphics,
	._hero-archive ._layer-status {
		margin-left: -33%;
	}
}




/* Photobutton Abac Home page */

.-skew-x-12 {
	--tw-skew-x: -20deg !important;
}

._pb-fixed-ratio-abac ._layer-content.w-2\/3 {
	width: 64%;
}

._pb-fixed-ratio-abac .-translate-x-1\/3 {
	--tw-translate-x: -36%;
}

._pb-fixed-ratio-abac ._layer-filter {}

._pb-fixed-ratio-abac ._layer-graphics,
._pb-fixed-ratio-abac.blue ._layer-graphics {
	background-color: var(--color-primary);
}

._pb-fixed-ratio-abac.yellow ._layer-graphics {
	background-color: var(--color-secondary);
}

._pb-fixed-ratio-abac.gray ._layer-graphics {
	background-color: var(--color-accent);
}

._pb-text p {
	font-size: 1em !important;
}


/* Utility per creare border-bottom in hover */

.border-bottom-hover::after {
    content: " ";
    bottom: 0;
    height: 3px;
    width: calc(100% - 1.5rem);
    left: .75rem;
    right: 0;
	background-color: var(--color-secondary);
    opacity: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left center 0;
    transition: var(--button-transition);
    visibility: hidden;
}

.border-bottom-hover:hover::after {
	opacity: 1 !important;
	transform: scaleX(1);
	visibility: visible;
}





/*------------------------------------*\
	FacetWP
\*------------------------------------*/

/* Order By che si trova in tutti gli elenchi vicino alle icone di vista card */
.facetwp-type-sort select {
	font-size: var(--text-xsmall-font-size-large);
	color: var(--body-color);
	border: none;
	background-image: var(--icon-arrow-down) !important;
	background-size: 1em !important;
}

.facetwp-facet-product_categories_mod_air_treatment {
	@apply flex flex-col;
}


.facetwp-facet-product_categories_mod_air_treatment .facetwp-radio,
.facetwp-facet-product_categories_mod_kit_spare_parts .facetwp-radio,
.facetwp-facet-product_categories_mod_application .facetwp-radio,
.facetwp-facet-product_categories_mod_tools .facetwp-radio,
.facetwp-facet-pumping_units .facetwp-radio,
.facetwp-facet-screw_hours .facetwp-radio {
	@apply bg-gray-100;
	margin-bottom: 0 !important;
	padding-left: 0; /* Azzera pl che qui farebbe indent di tutte le voci con le immagini */
}

.facetwp-facet-product_categories_mod_air_treatment .facetwp-radio.checked,
.facetwp-facet-product_categories_mod_kit_spare_parts .facetwp-radio.checked,
.facetwp-facet-product_categories_mod_application .facetwp-radio.checked,
.facetwp-facet-product_categories_mod_tools .facetwp-radio.checked,
.facetwp-facet-pumping_units .facetwp-radio.checked,
.facetwp-facet-screw_hours .facetwp-radio.checked {
	@apply bg-gray-100;
}

.facetwp-facet-product_categories_mod_air_treatment .facetwp-radio.checked ._text-wrap,
.facetwp-facet-product_categories_mod_kit_spare_parts .facetwp-radio.checked ._text-wrap,
.facetwp-facet-product_categories_mod_application .facetwp-radio.checked ._text-wrap,
.facetwp-facet-product_categories_mod_tools .facetwp-radio.checked ._text-wrap,
.facetwp-facet-pumping_units .facetwp-radio.checked ._text-wrap,
.facetwp-facet-screw_hours .facetwp-radio.checked ._text-wrap {
	border-bottom: 3px solid var(--color-secondary);
}

/* Extra CSS needed for noUiSlider Tooltips and Scales / Pips in Slider Facet */
/* https://facetwp.com/help-center/facets/facet-types/slider/#customizing-the-slider */


.facetwp-facet-part_number_search {
	@apply flex gap-4 items-center;
}

.facetwp-facet-part_number_search .facetwp-autocomplete-update {
	@apply m-0 py-2;
}

/* noUiSlider Tooltips */

.noUi-horizontal {
	height: 6px !important;
}

.noUi-base, .noUi-connects {
	height: 114% !important;
	top: 0px !important;
}

.noUi-connect, .noUi-origin {
	height: 70% !important;
}

.noUi-horizontal .noUi-handle {
	width: 25px !important;
	height: 25px !important;
	top: -11px !important;
	@apply shadow-lg;
}

.noUi-horizontal .noUi-tooltip {
	font-size: 10px;
	bottom: 130% !important;
}

.noUi-marker {
	background-color: var(--color-primary-300) !important;
}

.noUi-marker-sub {
	background: #aaa;
}

.noUi-marker-large {
	background-color: var(--color-primary-300) !important;
}

.noUi-pips-horizontal {
	height: 100% !important;
	padding: 5px 0 !important;
	top: -4px !important;
	width: 99.2% !important;
}

.noUi-marker-horizontal.noUi-marker-large, .noUi-marker-horizontal.noUi-marker {
	width: 4px !important;
	height: 4px !important;
	border-radius: 50% !important;
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
	display: none !important;
}

.facetwp-slider-label {
	display: none;
}


/* Filtri Radio con immagine */

._facetwp-radio-filter:not(.checked) ._text-wrap {
	@apply relative border-bottom-hover;
}

._facetwp-radio-filter:not(.checked) ._text-wrap::after {
	width: 100%;
	left: 0;
}




/* Facet mobile filters */

.facetwp-flyout {
	width: 80% !important;
}

.flyout-row.name-sort_by span,
.flyout-row.name-reset span,
.flyout-row.name-part_number_search span {
	@apply mb-8;
}







/*------------------------------------*\
    Menu
\*------------------------------------*/

/* Menu Desktop */

.menu-desktop .menu-item-logo {
	@apply mr-4 xl:mr-12;
}

.menu-desktop .menu-left>.menu,
.menu-desktop .menu-right>.menu {
	@apply items-end;
}

/* crea bordo sotto le voci tramite utility class border-bottom-hover */
.menu-desktop .menu > li.menu-item > a:not(.logo) {
    @apply border-bottom-hover;
}

	.menu-desktop .menu > li.menu-item > a:not(.logo):hover::after { }


.current-menu-item::after {
	content: " ";
	display: block;
    position: absolute;
    bottom: 0;
    height: 3px;
    width: calc(100% - 1.5rem);
    left: .75rem;
    right: 0;
	background-color: var(--color-secondary);
}



/* freccia down per voci con mega menu */
.mega-menu-tools > a,
.mega-menu-applications > a {
	padding-right: 1.75rem !important;
}

	.mega-menu-tools > a::before,
	.mega-menu-applications > a::before {
		content: " ";
		position: absolute;
		display: inline-block;
		height: .675rem;
		width: .675rem;
		margin-top: 0;
		bottom: 1.325rem;
		right: .5rem;
		background-image: var(--icon-arrow-down);
		background-size: 100%;
		background-repeat: no-repeat;
		opacity: .25;
		border: 0;
		transition: var(--anchor-default-transition);
	}

	.mega-menu-tools:hover > a::before,
	.mega-menu-applications:hover > a::before {
		transform: rotate(180deg);
	}






/* Fondo giallo per carrello in desktop */
.menu-desktop .menu-right {
	background: linear-gradient(to left,var(--color-secondary) 5rem,transparent 5rem);
}

.menu-desktop .menu-right > .menu {
	@apply gap-2;
}

@media (min-width: 1280px) {
	.menu-desktop .menu-right > .menu {
		@apply gap-4;
	}
}




/* Mega Menu Tools */
.nav-mega-menu-wrap-tools,
.nav-mega-menu-wrap-applications {
	border-bottom: 4px solid var(--color-secondary);
}

	.nav-mega-menu .menu-item a {
		padding: 0;
	}




/*------------------------------------*\
    Menu mobile
\*------------------------------------*/

.menu-mobile .menu-right .menu {
	@apply gap-2;
}

.menu-mobile .menu-item-icon-hamburger {
	@apply pl-4;
}




/*------------------------------------*\
	Swiper
\*------------------------------------*/


/* Swiper Hero --------------- */

/* limite temporaneo per altezza layer content in hero
*******************************************************
*******************************************************
*******************************************************
*******************************************************
*/

										._swiper-hero ._layer-content {
											max-height: 520px;
											overflow: hidden;
										}





/* Posizione buttons in Swiper hero */

._swiper-hero .swiper-button-prev {
	top: 1rem;
	left: 1rem;
}

._swiper-hero .swiper-button-next {
	top: 1rem;
	left: calc(1rem + var(--swiper-hero-button-size) + var(--swiper-hero-button-gap));
}

@media screen and (min-width: 960px) {
	._swiper-hero .swiper-button-prev {
		left: 1.5rem;
	}

	._swiper-hero .swiper-button-next {
		left: calc(1.5rem + var(--swiper-hero-button-size) + var(--swiper-hero-button-gap));
	}
}

@media screen and (min-width: 1280px) {
	._swiper-hero .swiper-button-prev {
		left: 3rem;
	}

	._swiper-hero .swiper-button-next {
		left: calc(3rem + var(--swiper-hero-button-size) + var(--swiper-hero-button-gap));
	}
}

@media screen and (min-width: 1700px) {
	._swiper-hero .swiper-button-prev {
		left: calc(50vw - 800px);
	}

	._swiper-hero .swiper-button-next {
		left: calc(50vw - 742px);
	}
}

/* Posizione pagination in Swiper hero */

._swiper-hero .swiper-pagination {
	@apply px-4 md:px-6 xl:px-12 text-left;
	max-width: var(--row-max-width);
}

@media screen and (min-width: 1700px) {
	._swiper-hero .swiper-pagination {
		padding-left: 0;
		left: calc(50vw - 800px);
	}
}


/* Swiper Gallery --------------- */

/* .gallery-thumbs .swiper-wrapper {
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	gap: 1rem;
}

	.gallery-thumbs .swiper-slide {
		overflow: hidden;
		transition: var(--button-transition);
		border-radius: var(--card-border-radius);
		box-shadow: 0 0 10px 6px rgb(0 0 0 / 5%);
	} */

	._swiper-gallery .swiper-container {
		@apply pb-8;
	}

	._swiper-gallery-thumb .swiper-wrapper {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}





/*------------------------------------*\
    Blocks
	(no block template che sono sotto)
\*------------------------------------*/


/* Icon Inner Text */

._canva-block-icon-inner-text.flex-row-only {
	@apply flex-row;
}


/* Hero cta */


/* Promo Button */
._promo-banner {
	transition: var(--button-transition);
 }

._promo-banner:hover {
	box-shadow: 0 0 12px 8px rgb(0 0 0 / 8%);
}



/*------------------------------------*\
    Footer
\*------------------------------------*/


._menu-icon-reversed a {
	@apply flex flex-col-reverse gap-4 fs-sm fw-700;
}



/*------------------------------------*\
    WooCommerce misc
\*------------------------------------*/

/* Price */

.price { }

	.price del {
		font-size: .75em;
		opacity: .5;
	}

	.price ins {
		text-decoration: none;
	}




/* Cart */

td.product-quantity {
	max-width: 32px;
}


/* Checkout */

/* Temporanei per correggere mix-blend immagini, togliere mettendo direttamente le classi nel template */
.woocommerce-checkout-review-order-table .cart_item .w-8 {
	@apply bg-gray-100;
}

.woocommerce-checkout-review-order-table .cart_item .w-8 img {
	@apply mix-blend-multiply;
}




/*------------------------------------*\
    Archive Product
\*------------------------------------*/



/*------------------------------------*\
    Single Product
\*------------------------------------*/


._add-to-cart_wrap { }

	._add-to-cart_wrap p.price {
		@apply mb-1;
	}

	.yay-currency-single-page-switcher {
		@apply mb-6;
	}

		.yay-currency-single-page-switcher > span {
			@apply block fs-xxs uppercase mb-1;
			color: var(--color-abc-darkest-gray) !important;
		}



	._add-to-cart_wrap .woocommerce-Price-amount {
		font-weight: 700;
		font-size: 1.5rem;
	}

		._add-to-cart_wrap del .woocommerce-Price-amount bdi {
			font-size: .75em;
			margin-right: .5rem;
		}

	._add-to-cart_wrap form.cart {
		@apply flex-auto;
	}

	._add-to-cart_wrap .quantity input {
		border-radius: 0;
		width: 6rem !important;
	}

	._add-to-cart_wrap button.single_add_to_cart_button {
		@apply w-64;
	}



.single-product ._info-content {
	@apply fs-sm;
}



._additional_attributes tr {
	border-top: 1px solid var(--color-abc-light-gray);
	background: var(--color-white);
	@apply fs-sm;
}

._additional_attributes tr:nth-child(odd) {
	background: #f0f0f0;
}

._additional_attributes th {
	display: none;
}

._additional_attributes td {
	width: 50%;
	padding: 3px 0;
	font-weight: 400;
	/* Normalizza in caso di compilazioni valori con grassetti e non */
}

._additional_attributes td:nth-child(odd) {
	font-weight: 700;
	color: var(--color-abc-light-gray);
}



/*------------------------------------*\
    Single Blog
\*------------------------------------*/



/*------------------------------------*\
    Splash Under Construction
\*------------------------------------*/
