/*------------------------------------*\
			Variabili CSS
\*------------------------------------

Qui si inseriscono tutte le varibili legate al progetto, incluse quelle che non vengono pescate da Tailwind ma che servono per altri componenti.
Qualsiasi variabile inserita qui passa al foglio di stile indipendentemente dal fatto che venga usata o no da Tailwind.

*/

@import '_palette-transitions-shadows-icons';

@layer base {

	:root {


        /*------------------------------------*\
			+Grid Breakpoints
		\*------------------------------------*/


        /*  Per definire i breakpoint bisogna andare direttamente nella sezione iniziale di Tailwind.config.js
			non si possono inserire solo qui e pescarle da tailwind perché verrebbero incluse come variabili css e non come valore e non si possono inserire variabili css in una media query
			https://stackoverflow.com/questions/40722882/css-native-variables-not-working-in-media-queries

			Le inseriamo comunque anche qui per utilizzarle in alcune classi ad es.
			.max-w-screen-lg-half che servono in alcuni casi di larghezze mezze
		*/

        /* I breakpoint vanno riportati in
			- file tailwind.config.js
			- typography.css tutte le media query
			- hero.css

		screens: {
			'xs': '230px', // => @media (max-width: 360px) { ... } Parte da 230 e arriva a 374 => per smartphone supervecchi 320 o nuovi economici 360
			'sm': '375px', // => @media (max-width: 640px) { ... } Parte da 375 e arriva a 639 => Parte da 375 e arriva a 639 => per smartphone nuovi o fighi phablet etc...
			'md': '640px', // => @media (max-width: 768px) { ... }
			'lg': '960px', // => @media (max-width: 1024px) { ... }
			'xl': '1280px', // => @media (max-width: 1600px) { ... }
			'xxl': '1600px', // Primo - Progetto grafico Serena era 1760px
		},

		*/


		/* Variabili screen per classi screen-X-half in grid-spacing */
		--screen-xs: 230px;
		--screen-sm: 375px;
		--screen-md: 640px;
		--screen-lg: 960px;
		--screen-xl: 1280px;
		--screen-xxl: 1440px;



        /*------------------------------------*\
			+Grid Spacing
		\*------------------------------------*/

		/* Istruzioni sui font-size
		------------------------------------

		- Il font-size in px del body non viene dichiarato da nessuna parte, viene definito dal browser
		- impostazioni predefinite del browser = 16px = 1rem
		- per avere i rem responsive usiamo le % nel html
		- di base font-size html = 100% = 16px
		- 16px è quindi font-size di default di qualsiasi testo che non sia parte della tipografia, es. span
		- in small down font-size = 100%, in questo modo i testi standard su smartphone rispettano buone pratiche
		- salendo di breakpoint, ingrandiamo il rem con le percentuali html
		- le percentuali di font-size agiscono sia sui font, sia sulle dimensioni w-X h-X padding margin etc..
		*/

        --html-font-size-xs: 100%;
        --html-font-size-sm: 101%; /* 102.5% */
        --html-font-size-md: 102%; /* 105% */
        --html-font-size-lg: 103%; /* 107.5% */
        --html-font-size-xl: 104%; /* 110% */
        --html-font-size-xxl: 110%; /* 112.5%; */

        --gap-default: 1rem; /* = gap 4 */
		--row-max-width: var(--screen-xxl);




		/*------------------------------------*\
			+Base
		\*------------------------------------*/

		--body-bg: var(--color-white);


		/*------------------------------------*\
			+Typography
		\*------------------------------------*/

		/* Gli import dei font si impostano direttamente dentro Canva, tipicamente tramite url, es.
		https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap
		*/


		--primary-font-family: 'Lato', sans-serif;
		--secondary-font-family: 'BebasNeue', sans-serif;
		--extra-font-family: var(--primary-font-family);


		/* Basefont */
		--body-font-family: var(--primary-font-family);
		--body-font-size: 1rem; /* usato solo per fs-body */
		--body-color: var(--color-islight-default);
		--body-font-weight: 400;
		--body-line-height: 1.35;
		--body-letter-spacing: .01rem;


		/* Text Selection */
		--text-selection-color: var(--color-islight-default);
		--text-selection-bg: var(--color-abc-yellow-300);


		/* Bold */
		--bold-font-weight: 700; /* Se i font del tema sono diversi tra loro potrebbe funzionare correttamente solo su un font */
		--bold-color: inherit;


		/* Anchor */
		--anchor-font-weight: 400;
		--anchor-transition: var(--anchor-default-transition);
		--anchor-color: var(--color-primary);
		--anchor-text-decoration: underline solid var(--color-primary);
		--anchor-hover-color: var(--color-primary-300);
		--anchor-hover-text-decoration: underline solid var(--anchor-hover-color); /* vale solo per gli a dentro un p o dentro uno span */


		/* Dimensioni tutte le tipografie */
		/* Tutti i valori sopra i 18px sono ridotti a 0.8 per assomigliare al progetto, includendo anche l'aggiunstamento dato dal 105% del font-size html */

		--huge-font-size-large:   			5rem; 		/* = 64px su base 16px */
		--h1-font-size-large:     			3.75rem; 	/* =  originali progetto 60/* = 3.5rem */
		--h2-font-size-large:     			2.8125rem; 	/* =  originali progetto 45/* = 2.125rem  */
		--h3-font-size-large:     			2.1875rem; 	/* =  originali progetto 35/* = 1.5rem */
		--h4-font-size-large:     			1.25rem; 	/* =  originali progetto 20/* = 1.125rem */
		--h5-font-size-large:     			1.125rem; 	/* =  originali progetto 18/* = 1rem */
		--h6-font-size-large:     			1rem; 	/* =  originali progetto 14/18 = .875rem */
		--h7-font-size-large:    			.9375rem; 	/* =  non esiste in progetto */

		--toptitle-font-size-large: 		.9375rem; 	/* = originali progetto 15px = .9375rem */
		--paragraph-font-size-large: 		1rem;	    /* = originali progetto 16px = 1rem */
		--text-small-font-size-large: 		.875rem; 	/* = originali progetto 14px = .875rem */
		--text-xsmall-font-size-large: 		.75rem; 	/* = originali progetto 13px = .8125rem */
		--text-xxsmall-font-size-large: 	.6875rem; 	/* = originali progetto 12px = .75rem */

		--lead-font-size-large: 			1.25rem; 		/* = 20px su base 16px */
		--blockquote-font-size-large: 		2.625rem; 		/* = 42px su base 16px */


		/* Headings */
		--headings-font-family: var(--secondary-font-family);
		--headings-color: var(--color-black);
		--headings-font-weight: 700;
		--headings-line-height: .9;
		--headings-letter-spacing: 0;
		--headings-margin-bottom: 1.5rem;


		/* Toptitle */
		--toptitle-font-family: var(--primary-font-family);
		--toptitle-color: var(--color-eqp-grey);
		--toptitle-font-weight: 400;
		--toptitle-line-height: 1.2;
		--toptitle-letter-spacing: 0;
		--toptitle-text-transform: uppercase;


		/* Subtitle */
		--subtitle-font-family: var(--primary-font-family);
		--subtitle-color: var(--color-eqp-medium-grey);
		--subtitle-font-weight: 300;
		--subtitle-line-height: 1.3;
		--subtitle-font-style: none;


		/* Paragraph */
		--paragraph-font-family: var(--body-font-family);
		--paragraph-color: var(--body-color);
		--paragraph-line-height: var(--body-line-height);
		--paragraph-letter-spacing: var(--body-letter-spacing);
		--paragraph-margin-bottom: 1rem;


		/* Lead */
		--lead-font-family: var(--primary-font-family);
		--lead-color: var(--body-color);
		--lead-font-weight: 300;
		--lead-line-height: var(--paragraph-line-height);
		--lead-letter-spacing: var(--body-letter-spacing);
		--lead-margin-bottom: 1rem;


		/* Blockquote */
		--blockquote-padding: none;
		--blockquote-font-family: var(--primary-font-family);
		--blockquote-color: var(--headings-color);
		--blockquote-font-weight: 300;
		--blockquote-line-height: var(--headings-line-height);
		--blockquote-letter-spacing: var(--body-letter-spacing);
		--blockquote-margin-bottom: 2rem;


		/* Lists */
		--ul-margin-bottom: var(--paragraph-margin-bottom);

		--ul-li-font-size: 1em;
		--ul-li-line-height: var(--paragraph-line-height);
		--ul-li-padding-left: 1em;
		--ul-li-margin-bottom: calc(var(--paragraph-margin-bottom) / 3);

		--ul-li-dot-top: .6em;
		--ul-li-dot-left: .25em;
		--ul-li-dot-width: .25em;
		--ul-li-dot-height: .25em;
		--ul-li-dot-bg: var(--body-color);
		--ul-li-dot-isdark-bg: var(--isdark-default-color);
		--ul-li-dot-radius: 0; /* 0 = quadrato */

		--ul-li-check-padding-left: 2em;
		--ul-li-check-margin-bottom: calc(var(--paragraph-margin-bottom) * 1.25);

		--ul-li-check-top: .0625em;
		--ul-li-check-left: 0em;
		--ul-li-check-width: 1.375em;
		--ul-li-check-height: 1.375em;
		/* Inserire immagini codificate in base64 da https://websemantics.uk/tools/svg-to-background-image-conversion/ */
		--ul-li-check-bg-img: var(--icon-check);
		--ul-li-check-isdark-bg-img: var(--icon-check-isdark);




		/*------------------------------------*\
			+Buttons
		\*------------------------------------*/

		/* Button regular ----- */

		/* Dimensioni */
		--button-py: .75em; /* tenerlo in em per avere la proporzionalità rispetto a font-size */
		--button-px: 4em;
		--button-icon-ratio: 1em;
		--button-mb: 0;
		--button-rounded: .25em;
			/* border-width di default è 2px e non ha variabile, per cambiarlo usare style */

		/* Colori */
		--button-background: var(--color-primary);
		--button-color: var(--color-white);
		/* --button-icon-color: var(--color-white); */ /* Sostituito da fill-current */
		--button-border-color: var(--button-background); /* di solito uguale a background color per avere effetto pieno */

		/* Tipografia */
		--button-font-family: var(--secondary-font-family);
		--button-font-size: 1em; /* Per i button come per le icone usiamo font-size proporzionale */
		--button-font-weight: 700;
		--button-line-height: 1;
		--button-letter-spacing: 0.05em;
		--button-text-transform: uppercase;
		--button-text-decoration: none;

		/* Wrapper testo */
		--button-toptitle-font-family: var(--secondary-font-family);
		--button-toptitle-font-ratio: .75em; /* va indicato in em e indica quanto è più piccolo/grande del valore medio */
		--button-toptitle-font-weight: 300;
		--button-toptitle-margin-bottom: .25em;
			/* non c'è il font-family del titolo perché si usa quello del button */
		--button-title-font-ratio: 1em; /* va indicato in em e indica quanto è più piccolo/grande del valore medio */
			/* non c'è il font weight del titolo perché si usa quello del button */
		--button-subtitle-font-family: var(--secondary-font-family);
		--button-subtitle-font-ratio: .875em; /* va indicato in em e indica quanto è più piccolo/grande del valore medio */
		--button-subtitle-font-weight: 300;
		--button-subtitle-margin-top: .25em; /* si usa mt perché se non c'è subtitle il title del button resta senza mb */

		/* Misc */
		--button-shadow: none; /* CAPIRE COME GESTIRLA: apply? */
		--button-transition: var(--transition-property-all) var(--transition-bezier) var(--duration-normal);

		/* Button hover */
		--button-hover-background: var(--color-primary-300);
		--button-hover-color: var(--button-color);
		/* --button-hover-icon-color: var(--button-icon-color); */ /* Sostituito da fill-current */
		--button-hover-border-color: var(--button-hover-background);
		--button-hover-shadow: $shadow-20; /* CAPIRE COME GESTIRLA: apply? */
		--button-hover-transformation: scale(1.025);
		--button-hover-text-decoration: none;

			/* Isdark Button */
			--isdark-button-background: var(--button-background);
			--isdark-button-color: var(--button-color); /* Tutte le scritte compresi toptitle e subtitle */
			/* --isdark-button-hollow-icon-color: var(--color-white); */ /* Sostituito da fill-current */
			--isdark-button-border-color: var(--button-border-color);

			/* Isdark Button hover*/
			--isdark-button-hover-background: var(--button-background);
			--isdark-button-hover-color: var(--button-color); /* Tutte le scritte compresi toptitle e subtitle */
			/* --isdark-button-hollow-icon-color: var(--color-white); */ /* Sostituito da fill-current */
			--isdark-button-hover-border-color: var(--button-border-color);

		/* Button Hollow */
		--button-hollow-background: transparent;
		--button-hollow-color: var(--color-primary); /* Tutte le scritte compresi toptitle e subtitle */
		/* --button-hollow-icon-color: var(--color-black); */ /* Sostituito da fill-current */
		--button-hollow-border-color: var(--color-primary);

		/* Button Hollow hover*/
		--button-hollow-hover-background: var(--color-primary);
		--button-hollow-hover-color: var(--color-white);
		/* --button-hollow-hover-icon-color: var(--color-white); */ /* Sostituito da fill-current */
		--button-hollow-hover-border-color: var(--color-primary);

			/* Isdark Button Hollow  */
			--isdark-button-hollow-background: transparent;
			--isdark-button-hollow-color: var(--color-white); /* Tutte le scritte compresi toptitle e subtitle */
			/* --isdark-button-hollow-icon-color: var(--color-white); */ /* Sostituito da fill-current */
			--isdark-button-hollow-border-color: var(--color-white);

			/* Isdark Button Hollow hover */
			--isdark-button-hollow-hover-background: var(--color-black);
			--isdark-button-hollow-hover-color: var(--color-white);
			/* --isdark-button-hollow-hover-icon-color: var(--color-primary); */ /* Sostituito da fill-current */
			--isdark-button-hollow-hover-border-color: var(--color-white);



		/* Tag regular ----- */
		/* Di solito identico al pulsante ma con colore e spessore delle scritte dentro differenti */

		--tag-px: calc(var(--button-px) / 2);
		--tag-py: calc(var(--button-py) / 2);
		--tag-rounded: ;

		--tag-background: ;
		--tag-color: ;
		--tag-border-color: ;

		--tag-font-family: ;
		--tag-font-weight: ;

		--tag-hover-background: ;




		/*------------------------------------*\
			+Menu
		\*------------------------------------*/

		/* margin-top Main ----- */
		--main-mt-xs: 48px;
		--main-mt-sm: 48px;
		--main-mt-md: 48px;
		--main-mt-lg: 86px;
		--main-mt-xl: 86px;


		/* Regole comuni ----- */

		--menu-item-font-size: .75rem;
		--menu-item-padding: 1rem .75rem 1rem; /* definisce l'altezza dell'area di interazione delle voci e l'altezza del separatore verticale se presente */
		--menu-item-font-family: var(--primary-font-family);
		--menu-item-font-weight: 700;
		--menu-item-line-height: 1 !important;
		--menu-item-color: var(--color-abc-darkest-gray);
		--menu-item-text-transform: uppercase;
		--menu-item-text-decoration: none; /* es. underline solid red - se non si vuole mettere nessun underline in nessun menu va bene impostarlo come none, se ci sarà qualche underline in giro meglio usare underline solid transparent, se no durante le transizioni possono arrivare dei momenti "fantasma" in cui appare underline e poi scompare di nuovo */
		/* --menu-item-bg: transparent; /* diamo per scontato che il bg non hover sia trasparente */
		--menu-item-transition: var(--anchor-default-transition);
		--menu-item-hover-color: var(--color-black);
		--menu-item-hover-text-decoration: none; /* es. underline solid red */
		--menu-item-hover-bg: transparent; /* bg completo permette di usare anche gradienti */
		--menu-item-current-font-weight: 700;
		--menu-item-current-color: var(--color-black);
		--menu-item-current-text-decoration: var(--menu-item-hover-text-decoration); /* es. underline solid red */
		--menu-item-current-bg: var(--menu-item-hover-bg);


		--menu-item-icon-svg-size-xs: 1rem; /* width e height delle icone svg nel menu, per xs e sm */
		--menu-item-icon-padding-xs: .5rem; /* per xs e sm */
		--menu-item-icon-svg-size-lg: 1rem; /* width e height delle icone svg nel menu, per md up */
		--menu-item-icon-padding-lg: .75rem; /* per md up */
		/* GAP
		--menu-item-icon-gap: .25rem;
		non si può usare perché andrebbe attribuito al contenitore padre delle icone nel menu, che però non ha classi specifiche perché le icone potrebbero essere ovunque, la cosa migliore per dare un gap è segnarlo direttamente come classe (es. gap-1) dentro il segmento di menu che contiene le icone */
		--menu-item-icon-border-radius: 5rem;
		--menu-item-icon-color: var(--menu-item-color);
		--menu-item-icon-transition: var(--anchor-default-transition);
		--menu-item-icon-hover-color: var(--menu-item-hover-color);
		--menu-item-icon-hover-bg: rgba(255,255,255,.25); /* var(--menu-item-hover-bg); */



		/* Desktop navigation ----- */
		/* Contiene
			- menu-desktop
			- menu-aux
		*/

		--desktop-navigation-position: fixed; /* relative absolute fixed */
		--desktop-navigation-bg: rgba(255,255,255,.97);
		--desktop-navigation-border-bottom: none;
		--desktop-navigation-shadow: none;
		--desktop-navigation-backdrop-filter: blur(12px); /* Usarlo solo per blur. Se attivo richiede un bg del menu che che abbia una trasparenza almeno minima es rgba(255,255,255,.75) */
		--desktop-navigation-bg-backdrop-filter: rgba(255,255,255,.85); /* var(--desktop-navigation-bg); /* sostituisce --desktop-navigation-bg in caso sia attivo backdrop filter */


			/* Desktop Navigation > Menu Desktop ----- */

			--menu-desktop-bg: transparent;

			--menu-desktop-item-font-family: var(--menu-item-font-family);
			--menu-desktop-item-font-size: var(--menu-item-font-size);
			--menu-desktop-item-padding: 3.25rem .75rem 1.25rem; /* var(--menu-item-padding);*/
			--menu-desktop-item-font-weight: var(--menu-item-font-weight);
			--menu-desktop-item-line-height: var(--menu-item-line-height);
			--menu-desktop-item-color: var(--menu-item-color);
			--menu-desktop-item-text-transform: var(--menu-item-text-transform);
			--menu-desktop-item-text-decoration: var(--menu-item-text-decoration); /* es. underline solid red */
			/* --menu-desktop-item-transition: var(--menu-item-transition); */
			--menu-desktop-item-hover-color: var(--menu-item-hover-color);
			--menu-desktop-item-hover-text-decoration: var(--menu-item-hover-text-decoration);  /* es. underline solid red */
			--menu-desktop-item-hover-bg: var(--menu-item-hover-bg);
			--menu-desktop-item-current-color: var(--menu-item-current-color);
			--menu-desktop-item-current-font-weight: var(--menu-item-current-font-weight);
			--menu-desktop-item-current-text-decoration: var(--menu-item-current-text-decoration); /* es. underline solid red */
			--menu-desktop-item-current-bg: var(--menu-item-current-bg);


			/* Desktop navigation > Menu Aux ----- */

			--menu-aux-bg: var(--menu-dektop-background);

			--menu-aux-item-font-family: var(--menu-desktop-item-font-family);
			--menu-aux-item-font-size: var(--menu-item-font-size);
			--menu-aux-item-padding: var(--menu-item-padding);
			--menu-aux-item-font-weight: var(--menu-desktop-item-font-weight);
			--menu-aux-item-line-height: var(--menu-desktop-item-line-height);
			--menu-aux-item-color: var(--menu-desktop-item-color);
			--menu-aux-item-text-transform: var(--menu-desktop-item-transform);
			--menu-aux-item-text-decoration: var(--menu-desktop-item-text-decoration); /* es. underline solid red */
			--menu-aux-item-bg-color: var(--menu-desktop-item-bg-color);
			/* --menu-aux-item-transition: var(--menu-desktop-item-transition); */
			--menu-aux-item-hover-color: var(--menu-desktop-item-hover-color);
			--menu-aux-item-hover-bg: var(--menu-desktop-item-hover-bg);
			--menu-aux-item-hover-text-decoration: var(--menu-desktop-item-hover-text-decoration);  /* es. underline solid red */
			--menu-aux-item-current-color: var(--menu-desktop-item-current-color);
			--menu-aux-item-current-font-weight: var(--menu-desktop-item-current-font-weight);
			--menu-aux-item-current-bg: var(--menu-desktop-item-current-bg);
			--menu-aux-item-current-text-decoration: var(--menu-desktop-item-current-text-decoration); /* es. underline solid red */



		/* Mobile navigation ----- */
		/* Qui mettiamo solo le variabili della barra, senza voci menu che vengono definite dentro il menu Off Canvas Mobile */

		--mobile-navigation-position: fixed; /* relative absolute fixed */
		--mobile-navigation-bg: rgba(255,255,255,.97);
		--mobile-navigation-border-bottom: none;
		--mobile-navigation-shadow: none;
		--mobile-navigation-backdrop-filter: blur(12px); /* Usarlo solo per blur. Se attivo richiede un bg del menu che che abbia una trasparenza almeno minima es rgba(255,255,255,.75) */
		--mobile-navigation-bg-backdrop-filter: rgba(255,255,255,.85); /* var(--desktop-navigation-bg); /* sostituisce --mobile-navigation-bg in caso sia attivo backdrop filter */




		/* Hamburger */
		/* Vale per hamburger sia in desktop che mobile */

		--menu-item-hamburger-padding: 0; /* sovrascrive il padding default dei menu-item-icon per dare libertà di comportamento hamburger rispetto ad altre icone, applicata a .menu-item-icon-hamburger */
		--hamburger-area-width: 2.5rem; /* Area di interazione hamburger, sta dentro menu-item-icon-hamburger si applica su ham-bars-container, può essere molto più grande di quella effettiva dell'hamburger */
		--hamburger-area-border-radius: 5rem;
		--hamburger-area-bg: transparent;
		--hamburger-area-transition: var(--button-default-transition);
		--hamburger-area-hover-bg: var(--color-white);
		--hamburger-area-hover-transformation: none;

		--ham-bars-width-xs: 1.25rem;
		--ham-bars-height-xs: 2px; /* .125rem; */
		--ham-bars-distance-xs: .5rem;
		--ham-bars-width-lg: 1.5rem;
		--ham-bars-height-lg: 2px; /* .125rem; */
		--ham-bars-distance-lg: .55rem;
		--ham-bars-border-radius: 3rem;
		--ham-bars-bg: var(--color-black);
		--ham-bars-transition: var(--button-default-transition);



		/* Off Canvas Mobile ----- */
		--off-canvas-mobile-bg: var(--color-accent);
		--off-canvas-mobile-shadow: none;
		--off-canvas-mobile-width: 90%;
		--off-canvas-mobile-padding: 0 0 2rem;
		--off-canvas-mobile-shadow: none;
		--off-canvas-mobile-opacity: 0; /* si usa solo quando serve un effetto di fade in per l'entrata */
		--off-canvas-mobile-transition: var(--anchor-default-transition);
		--off-canvas-mobile-show-left: 10%; /* Di default appare in slide-in da destra, qualsiasi altro comportamento si definisce interamente in style-project */
		--off-canvas-mobile-show-opacity: 1; /* Deve essere sempre 1 */

		--off-canvas-mobile-show-filter-bg: var(--color-secondary);
		--off-canvas-mobile-show-filter-opacity: 1;
		--off-canvas-mobile-show-filter-backdrop-filter: blur(8px); /* usarlo solo per blur. Se attivo richede opacity 1 e un bg con parziale trasparenza es. rgba(255,255,255,.75) */
		--off-canvas-mobile-show-filter-bg-backdrop-filter: rgba(255,255,255,.85); /* var(--desktop-navigation-bg); /* sostituisce --off-canvas-mobile-show-filter-bg in caso sia attivo backdrop filter */


		--off-canvas-mobile-item-font-family: var(--menu-item-font-family);
		--off-canvas-mobile-item-font-size: 1.25rem; /* var(--menu-item-font-size); */
		--off-canvas-mobile-item-padding: .75rem 2rem; /* var(--menu-item-padding); */
		--off-canvas-mobile-item-font-weight: 400; /* var(--menu-item-font-weight); */
		--off-canvas-mobile-item-line-height: var(--menu-item-line-height);
		--off-canvas-mobile-item-color: var(--menu-item-color);
		--off-canvas-mobile-item-text-transform: var(--menu-item-transform);
		--off-canvas-mobile-item-text-decoration: var(--menu-item-text-decoration); /* es. underline solid red */
		/* --off-canvas-mobile-item-transition: var(--menu-item-transition); */
		--off-canvas-mobile-item-hover-color: var(--menu-item-hover-color);
		--off-canvas-mobile-item-hover-text-decoration:  underline solid transparent; /* var(--menu-item-hover-text-decoration);*/  /* es. underline solid red */
		--off-canvas-mobile-item-hover-bg: var(--menu-item-hover-bg);
		--off-canvas-mobile-item-current-color: var(--menu-item-current-color);
		--off-canvas-mobile-item-current-font-weight: var(--menu-item-current-font-weight);
		--off-canvas-mobile-item-current-text-decoration:  underline solid transparent; /* var(--menu-item-current-text-decoration); */ /* es. underline solid red */
		--off-canvas-mobile-item-current-bg: var(--menu-item-current-bg-color);



		/* Off Canvas Desktop ----- */
		--off-canvas-desktop-bg: transparent;
		--off-canvas-desktop-shadow: none;
		--off-canvas-desktop-width: 60%;
		--off-canvas-desktop-padding: 0 0 2rem;
		--off-canvas-desktop-shadow: none;
		--off-canvas-desktop-opacity: 0; /* si usa solo quando serve un effetto di fade in per l'entrata */
		--off-canvas-desktop-transition: var(--anchor-default-transition);
		--off-canvas-desktop-show-left: 40%; /* Di default appare in slide-in da destra, qualsiasi altro comportamento si definisce interamente in style-project */
		--off-canvas-desktop-show-opacity: 1; /* Deve essere sempre 1 */

		--off-canvas-desktop-show-filter-bg: var(--color-primary);
		--off-canvas-desktop-show-filter-opacity: 1;
		--off-canvas-desktop-show-filter-backdrop-filter: blur(12px); /* usarlo solo per blur. Se attivo richede opacity 1 e un bg con parziale trasparenza es. rgba(255,255,255,.75) */
		--off-canvas-desktop-show-filter-bg-backdrop-filter: rgba(255,255,255,.85); /* var(--desktop-navigation-bg); /* sostituisce --off-canvas-mobile-show-filter-bg in caso sia attivo backdrop filter */

		--off-canvas-desktop-item-font-family: var(--off-canvas-mobile-font-family);
		--off-canvas-desktop-item-font-size: var(--off-canvas-mobile-font-size);
		--off-canvas-desktop-item-padding: var(--off-canvas-mobile-padding);
		--off-canvas-desktop-item-font-weight: var(--off-canvas-mobile-font-weight);
		--off-canvas-desktop-item-line-height: var(--off-canvas-mobile-line-height);
		--off-canvas-desktop-item-color: var(--off-canvas-mobile-color);
		--off-canvas-desktop-item-text-transform: var(--off-canvas-mobile-transform);
		--off-canvas-desktop-item-text-decoration: var(--off-canvas-mobile-text-decoration); /* es. underline solid red */
		/* --off-canvas-desktop-item-transition: var(--off-canvas-mobile-transition); */
		--off-canvas-desktop-item-hover-color: var(--off-canvas-mobile-hover-color);
		--off-canvas-desktop-item-hover-text-decoration: var(--off-canvas-mobile-hover-text-decoration);  /* es. underline solid red */
		--off-canvas-desktop-item-hover-bg: var(--off-canvas-mobile-hover-bg);
		--off-canvas-desktop-item-current-color: var(--off-canvas-mobile-current-color);
		--off-canvas-desktop-item-current-font-weight: var(--off-canvas-mobile-current-font-weight);
		--off-canvas-desktop-item-current-text-decoration: var(--off-canvas-mobile-current-text-decoration); /* es. underline solid red */
		--off-canvas-desktop-item-current-bg: var(--off-canvas-mobile-current-bg);





		/* Menu H V ----- */
		/* Questo menu si crea aggiungendo a ul una classe menu-v oppure menu-h */

		--menu-hv-font-family: var(--primary-font-family);
		/* font-size non si mette lo si associa a ul con classi fs-XY */
		--menu-hv-font-weight: 700;
		--menu-hv-line-height: 1.1;
		/* Text-transform: non serve metterlo lo si aggiunge come classe all'ul se serve */
		--menu-hv-color: var(--color-secondary);
		--menu-hv-text-decoration: underline solid transparent; /* es. underline solid red */
		/* --menu-hv-margin-top: Non si indica perché deve essere sempre 0; */
		--menu-hv-margin-bottom: .5em;
		--menu-hv-transition: var(--anchor-default-transition);
		--menu-hv-hover-color: var(--color-secondary-300);
		--menu-hv-hover-text-decoration: underline solid var(--color-secondary); /* es. underline solid red */
		--menu-h-spacing-h: 2em; /* Distanza orizzontale totale tra le voci (solo menu orizzontale)


		/* Menu standard Footer ----- */
		/* Identico allo standard ma è quello che appare dentro il footer */

		--menu-hv-footer-font-family: var(--menu-hv-font-family);
		--menu-hv-footer-font-weight: var(--menu-hv-font-weight);
		--menu-hv-footer-line-height: var(--menu-hv-line-height);
		/* Text-transform: non serve metterlo lo si aggiunge come classe all'ul se serve */
		--menu-hv-footer-color: var(--color-abc-light-gray);
		--menu-hv-footer-text-decoration: underline solid transparent; /* es. underline solid red */
		/* --menu-hv-footer-margin-top: Non si indica perché deve essere sempre 0; */
		--menu-hv-footer-margin-bottom: 1.5em;
		--menu-hv-footer-transition:var(--anchor-default-transition);
		--menu-hv-footer-hover-color: var(--color-black);
		--menu-hv-footer-hover-text-decoration: underline solid transparent; /* es. underline solid red */
		--menu-h-footer-spacing-h: var(--menu-h-spacing-h); /* Distanza orizzontale totale tra le voci (solo menu orizzontale)




		/*------------------------------------*\
			+Layers
		\*------------------------------------*/


		--layer-visual-bg: var(--color-white); /* Background di deafult che ha il layer visual quando non è ancora caricato nessun asset */

		--layer-filter-bg: var(--color-primary);
		--layer-filter-opacity: .5;
		--layer-filter-mix-blend-mode: multiply;




		/*------------------------------------*\
			+Hero
		\*------------------------------------*/

		/*
		C'è un sola categoria di _hero che viene data al _layer wrap.
		Dopo dicheé ci sono tre possibili altezze (sempre espresse come min-height).
		- hero-short
		- hero-normal
		- hero-tall
		Se uso solo la classe _hero di deafult prende altezza normale, se ho bisogno di un'alatra altezza affinahcerò le classi
		min-h-hero-short
		min-h-hero-tall
		*/


		/* Hero short min heights */
		--hero-short-xs-min-height: 20vw;
		--hero-short-sm-min-height: 20vw;
		--hero-short-md-min-height: 20vw;
		--hero-short-lg-min-height: 20vw;
		--hero-short-xl-min-height: 20vw;
		--hero-short-xxl-min-height: 20vw;

		/* Hero normal min heights */
		--hero-normal-xs-min-height: 125vw;
		--hero-normal-sm-min-height: 100vw;
		--hero-normal-md-min-height: 55vw;
		--hero-normal-lg-min-height: 36vw;
		--hero-normal-xl-min-height: 36vw;
		--hero-normal-xxl-min-height: 640px;

		/* Hero Tall min heights */
		--hero-tall-xs-min-height: 150vw;
		--hero-tall-sm-min-height: 130vw;
		--hero-tall-md-min-height: 75vw;
		--hero-tall-lg-min-height: 55vw;
		--hero-tall-xl-min-height: 50vw; /* 42.5vw; */
		--hero-tall-xxl-min-height: 50vw; /* 40vw; */





		/*------------------------------------*\
			+Card
		\*------------------------------------*/

		--card-border-radius: .75rem;
		--card-bg: #ffffff;


		/* Da fare come Photobutton, ancora tutti da assegnare */
		--card-figure-min-height: 600px;
		--card-filter-bg: var(--layer-filter-bg);
		--card-filter-opacity: 1;
		--card-filter-mix-blend-mode: var(--layer-filter-mix-blend-mode);




		/*------------------------------------*\
			+Photobutton
		\*------------------------------------*/

		--pb-min-height: 600px; /* Usata per impostare i Photobutton Elastic */
		--pb-ratio: 75%; /* Usata per impostare proporziona default dei Photobutton Fixed ratio, la sovrascrivi con le classi ratio-X-Y */

		--pb-filter-bg: var(--layer-filter-bg);
		--pb-filter-opacity: 0;
		--pb-filter-mix-blend-mode: var(--layer-filter-mix-blend-mode);
		/* Shadow ancora tutta da aggiungere */
		--pb-global-transition: var(--transition-property-all) var(--transition-bezier) var(--duration-normal);
		/* vale per tutto, cornice photobutton, bg, filter etc... se servono cose più specifiche si va di style o classi */

		--pb-hover-transform: none;
		--pb-hover-bg-transform: scale(1.1);
		--pb-hover-filter-bg: var(--pb-layer-filter-bg);
		--pb-hover-filter-opacity: 0;


		/*------------------------------------*\
			+Close Button
		\*------------------------------------*/

		--close-button-icon: var(--icon-close);
		--close-button-size-xs: 2rem; /* default 44px come photoswipe */
		--close-button-size-lg: 2.5rem; /* default 44px come photoswipe */
		--close-button-border-radius: 50%;
		--close-button-border: none;
		--close-button-bg-color: rgba(255,255,255,.5);
		--close-button-bg-size: 40%; /* in percentuale, definisce quale area del button deve coprire l'icona in bg */
		--close-button-opacity: 1;
		--close-button-transition: var(--button-default-transition); /* in percentuale, definisce quale area del button deve coprire l'icona in bg */
		--close-button-hover-transform: none;
		--close-button-hover-bg-color: rgba(248,248,248,.75);
		--close-button-hover-opacity: 1;


		/*------------------------------------*\
			+Modals
		\*------------------------------------*/

		--modal-transition: var(--transition-property-all) var(--transition-bezier) var(--duration-fast);
        --modal-loader-bg-color: var(--color-primary);
        /* --modal-loader-bg: url(../../studio42/img/loader-325-11.svg) $modal-loader-bg-color no-repeat center center; */
        --modal-loader-bg-blend-mode: normal;
        --modal-loader-bg-opacity: .8;

        --modal-filter-background: var(--color-primary);
        --modal-filter-mix-blend-mode: normal;
        --modal-filter-opacity: .8;
        --modal-filter-transition: var(--transition-property-colors) var(--transition-bezier) var(--duration-fast);




		/*------------------------------------*\
			+Swiper
		\*------------------------------------*/

		/* Lo swiper gestisce qualsiasi elenco di oggetti che debba essere trascinabile e sfogliabile: gallery di immagini, liste di card, slides di un hero...
		Ogni volta che c'è più di un oggetto visualizza i pulsanti prev next e i bullet, che sono definiti qui come aspetto.
		I pulsanti prev-next sono riscritti per avere area di interazione e bg con le icone coordinate. Le unità di misura di grandezza pulsanti in linea di massima son sempre in rem, ma potrebbero anche essere in % (cioé pulsanti grandi in percentuale a quanto è grande es. div della gallery).e

		Queste variabili finiscono nel file Swiper-Bundle.css
		*/

		--swiper-gallery-button-size: 2.75rem; /* default 44px come photoswipe */
		--swiper-gallery-button-gap: .5rem; /* ha senso solo in caso di prev next affiancati */
		--swiper-hero-button-size: 2.75rem; /* default 44px come photoswipe */
		--swiper-hero-button-gap: .5rem; /* ha senso solo in caso di prev next affiancati */
		--swiper-button-border-radius: 50%;
		--swiper-button-border: none;
		--swiper-button-bg-color: rgba(255,255,255,.5);
		--swiper-button-bg-size: 45%; /* in percentuale, definisce quale area del button deve coprire l'icona in bg */
		--swiper-button-opacity: .35;
		--swiper-button-transition: var(--button-default-transition); /* in percentuale, definisce quale area del button deve coprire l'icona in bg */
		--swiper-button-hover-transform: none;
		--swiper-button-hover-bg-color: rgba(248,248,248,.75);
		--swiper-button-hover-opacity: 1;
		--swiper-button-disabled-opacity: .1;

		--swiper-arrow-icon: var(--icon-arrow-right);

		--swiper-bullet-size: .75rem;
		--swiper-bullet-gap: .25rem;
		--swiper-bullet-border-radius: 50%;
		--swiper-bullet-border: 2px solid var(--color-abc-darkest-gray);
		--swiper-bullet-bg-color: var(--color-white);
		--swiper-bullet-opacity: 1;
		--swiper-bullet-current-size: .75rem;
		--swiper-bullet-current-border: 2px solid  var(--color-white);
		--swiper-bullet-current-bg-color: var(--color-abc-darkest-gray);
		--swiper-bullet-opacity: 1;



		/*------------------------------------*\
			+Photoswipe
		\*------------------------------------*/
		/* Queste variabili finiscono nei file photoswipe e photoswipe-default-skin */


		/* Lightbox e Pulsanti ------ */
		--pswp-bg: rgba(255,255,255,.95); /* Colore del background del lightbox. Per avere un background trasparente impostare un rgba trasparente perché poi opacità è sempre 1 */
		--pswp-bg-transition: var(--transition-property-opacity) var(--transition-bezier) var(--duration-slow);
		--pswp-top-bar-bg-color: transparent; /* Colore topbar del lightbox. Accetta solo colori per il bg */
		--pswp-top-bar-padding: .25rem;

		--pswp-button-size: 2.75rem; /* default 44px, vale per tutti i comandi di photoswipe */
		--pswp-button-gap: .5rem; /* funziona tramite il margin-left perché sono tutti float */
		--pswp-button-border-radius: 50%;
		--pswp-button-border: none;
		--pswp-button-bg-color: rgba(255,255,255,.5);
		--pswp-button-bg-size: 40%; /* in percentuale, definisce quale area del button deve coprire l'icona in bg */
		--pswp-button-opacity: .5;
		--pswp-button-transition: var(--button-default-transition);
		--pswp-button-hover-transform: none;
		--pswp-button-hover-bg-color: rgba(248,248,248,.75);
		--pswp-button-hover-opacity: 1;

		--pswp-close-icon: var(--icon-close);
		--pswp-share-icon: var(--icon-share);
		--pswp-fullscreen-icon: var(--icon-fullscreen);
		--pswp-zoom-in-icon: var(--icon-search-plus);
		--pswp-zoom-out-icon: var(--icon-search-minus);

		/* Frecce in modale ------ */
		--pswp-arrow-size: 3rem;
		--pswp-arrow-bg-size: 60%;
		--pswp-arrow-bg-color: rgba(255,255,255,.5);
		--pswp-arrow-opacity: 1;
		--pswp-arrow-transition: var(--button-default-transition);
		--pswp-arrow-hover-transform: translateX(8px); /* basta una sola transformation per entrambe perché la sinistra è specchiata */
		--pswp-arrow-hover-bg-color: rgba(248,248,248,.75);
		--pswp-button-hover-opacity: var(--pswp-button-hover-opacity);
		--pswp-arrow-icon: var(--icon-arrow-right);


		/* Cursori ------ */
		/* I cursori possono essere png oppure svg codificate in base64 con attributo width e height (max 128px) se no non vengono accettati */

		--pswp-open-lightbox-cursor: var(--icon-search-plus); /* Cursore che appare sopra l'immagine prima di aprire il lightbox */
		--pswp-zoom-allowed-cursor: var(--icon-search-plus); /* Cursore che appare sopra l'immagine aperta per fare zoom in */
		--pswp-zoomed-in-cursor: var(--icon-arrows); /* Cursore che appare sopra l'immagine zoomata per fare pan */
		--pswp-dragging-cursor: var(--icon-arrows); /* Cursore che appare qunado fai drag */
		--pswp-close-cursor: var(--icon-close); /* Cursore che appare qunado sei nell'area che chiude il lightbox */





		/*------------------------------------*\
			+Forms
		\*------------------------------------*/

		--input-main-color: var(--color-primary); /* Permette di definire un colore diverso dal primary */
        --input-height: 2.5em; /* equivalente di 36px su base 16 */
	        /*  2.5em è dimensione ideale = font-size + padding sopra e sotto +*/
        --input-padding: .5em 1em .5em;
    	    /*  serve per centratura in verticale rispetto al campo. spesso un padding top maggiore
			di quello bottom aiuta a centrare un po' meglio la scritta, che viene centrata
			rispetto alla baseline e non al sotto delle lettere tipo g,p, q etc.- */
		--input-border: 1px solid var(--color-black);
		--input-border-radius: .25em;
		--input-background: var(--color-white);
		--input-shadow: none;
		--input-font-family: var(--primary-font-family);
		--input-font-size: 1em; /* per iOS <15 deve essere minimo 16px se no fa zoom */
		--input-color: var(--body-color);
		--input-font-weight: 500;
		--input-line-height: 1;
		--input-letter-spacing: 0; /* inherit; */
		--input-transition: var(--transition-property-all) var(--transition-bezier) var(--duration-fast);

		--input-hover-color: var(--body-color);
		--input-hover-border: 1px solid var(--input-main-color);
		--input-hover-background: #fafafa;
		--input-hover-shadow: 0 0 0 1px var(--input-main-color);

		--input-focus-color: var(--body-color);
		--input-focus-border: 1px solid var(--input-main-color);
		--input-focus-background:  #fafafa;
		--input-focus-shadow: 0 0 0 1px var(--input-main-color);

		--textarea-min-height: 80px;

		--input-default-gap: 1em;
		/* Viene applicato un po' a tutti gli elementi di CF7 e Hubspot per dare un margin-bottom agli elementi e averli tutti separati nello stesso modo senza la necessità di classi aggiuntive */


		/* Label input */
			/* Sono tutti i testi/label che appaiono sopra gli input. In CF7 li formattiamo dentro il form direttamente con le classi, in Woocommerce sono le label */

			--input-label-font-size: .75em; /* questo valore se diverso da 1 influisce sui valori del padding sotto */
			--input-label-padding: 0 1.33em .5em; /* Mantenere lo stesso padding left dell'input. Per farlo si fa il valore del pl desiderato, diviso il font-size del tip. es. se voglio 1em di padding left con font-size .75em devo scrivere 1.33em. */
			--input-label-color: var(--body-color); /* colore del bordo dell'input e del messaggio errore */


		/* Messaggi di Spiegazione */
			/* Sono tutti i messaggi che stanno sotto un input come nota testuale ma che non sono messaggi di errore. es. le note ai campi che appaiono nei form di WooCommerce */

			--input-bottom-text-font-size: .75em; /* questo valore se diverso da 1 influisce sui valori del padding sotto */
			--input-bottom-text-padding: .5em 1.33em 0; /* Mantenere lo stesso padding left dell'input. Per farlo si fa il valore del pl desiderato diviso il font-size del tip. es. se voglio 1em di padding left con font-size .75em devo scrivere 1.33em */
			--input-bottom-text-color: var(--body-color); /* colore del bordo dell'input e del messaggio errore */


		/* Messaggi di Errore */
			/* Devono essere applicati come regole a CF7 e anche a hubspot o qualsiasi sistema core che usiamo */

			--input-error-tip-font-size: .75em; /* questo valore se diverso da 1 influisce sui valori del padding sotto */
			--input-error-tip-padding: .5em 1.33em 0; /* Mantenere lo stesso padding left dell'input. Per farlo si fa il valore del pl desiderato diviso il font-size del tip. es. se voglio 1em di padding left con font-size .75em devo scrivere 1.33em */
			--input-error-tip-color: var(--color-alert); /* colore del bordo dell'input e del messaggio errore */



		/* Checkboxes */
		  /* I checkboxes possono essere fatti sia proporzionali al font (tutte dimensioni in em)
			sia a dimensioni fisse indipendentemente da tipografia (tutte dimensioni in rem)
			Le prime misure: padding-y, padding-x, checkbox-size, margin-right, devono avere stessa unità di misura
			In linea di massima
				- con categorie tutte allo stesso livello, meglio em
				- con categorie madri e figlie, e font-size diversi tra madri e figlie, meglio rem
	 	*/
		/*
		--checkbox-margin-bottom: 0;
		// usato margin-bottom e non ad esempio padding perché è già definito così in facet e perché il padding crea problemi di posizionamento in absolute con i checkbox
		--checkbox-padding-y: 0; // Probabilmente da eliminare
		--checkbox-padding-x: 0; 0; // Probabilmente da eliminare */
		--checkbox-checkbox-size: 1.25em; /* Se usato in em dipende da font-size, se in rem sempre uguale */
		--checkbox-checkbox-margin-right: .5em; /* Deve avere stessa unità di misura di size */
		--checkbox-checkbox-border-radius: 10em;
		--checkbox-checkbox-box-shadow: none;
		--checkbox-font-size: .875em; /* Dimensione default del testo che sta vicino al checkbox, da tenere in em salvo rari casi */




		/*------------------------------------*\
			+Tooltips
		\*------------------------------------*/

		--tooltip-color: var(--color-secondary);
		--tooltip-font-weight: 300;
		--tooltip-border-bottom: 2px dotted var(--color-accent);

		--tooltiptext-width: 180px; /* max-content; /* Valore in px oppure max-content per auto adattarlo */
		--tooltiptext-bg: rgba(255,255,255,.9);
		--tooltiptext-p-x: .75rem;
		--tooltiptext-p-y: .75rem;
		--tooltiptext-border-radius: .25rem;
		--tooltiptext-font-family: var(--primary-font-family);
		--tooltiptext-font-size: .875rem;
		--tooltiptext-color: var(--color-black);
		--tooltiptext-text-align: center;
		--tooltiptext-arrow-size: .5rem; /* .5rem-1rem se no non ha senso */
		--tooltiptext-transition: var(--anchor-default-transition);



		/*------------------------------------*\
			+Breadcrumbs
		\*------------------------------------*/

		--bc-font-size: 1em;
		--bc-color: var(--body-color);
		--bc-font-weight: 400;
		--bc-a-color: var(--color-abc-light-gray);
		--bc-a-font-weight: 300;
		--bc-a-text-decoration: none;
		--bc-a-hover-color: var(--color-black);
		--bc-a-hover-text-decoration: none;
		--bc-divider-font-size: .75em;
		--bc-divider-color: var(--color-abc-light-gray);
		--bc-divider-font-weight: 300;



		/*------------------------------------*\
			+Third Party
		\*------------------------------------*/

		/* Maps */
        --sm-map-height: 100vw;
		--lg-map-height: 75vh;





		/*------------------------------------*\
			+Woocommerce
		\*------------------------------------*/



		/* Variabili prezzi di Default
		// ------------
		/* Usiamo font-size in em perché se nel contenitore nessuna regola definisce un font-size
		   allora valgono come se fossero in rem e non sono responsive
		   se invece il contenitore ha font-size definita allora gli em
		   permettono di ereditarla tenendo pure la tipografia responsive
		 */

		/* Prezzo ordinario */
		--wooc-price-font-family: var(--primary-font-family);
		--wooc-price-font-size: 1.125em;
		--wooc-price-font-weight: 700;
		--wooc-price-font-line-height: 1;
		--wooc-price-color: var(--color-black);

		/* Prezzo Del = Cancellato = Quanto costerebbe senza sconto */
		--wooc-del-price-font-size: .875em;
		--wooc-del-price-font-weight: 300;
		--wooc-del-price-color: var(--color-eqp-medium-grey);
		--wooc-del-price-opacity: .85;

		/* Prezzo Ins = Corretto = Quanto costa con sconto */
		--wooc-ins-price-font-size: 1.125em;
		--wooc-ins-price-font-weight: 700;
		--wooc-ins-price-color: var(--color-black);
		/* --wooc-ins-price-opacity: 1;

		/* Spaziatura Valuta */
		--wooc-currency-spacing: .5em;



		/*
		Carrello
		// ------------

		// Ancora tutto da fare
		*/

		/* Pallino Cart Items */
		--wooc-cart-items-wrap-xs-area: 1.25em;
		--wooc-cart-items-wrap-lg-area: 1.5em;
		--wooc-cart-items-wrap-bg: var(--color-primary);
		--wooc-cart-items-wrap-xs-top: 0;
		--wooc-cart-items-wrap-xs-right: 0;
		--wooc-cart-items-wrap-lg-top: 0;
		--wooc-cart-items-wrap-lg-right: 0;
		--wooc-cart-items-xs-font-size: .75em;
		--wooc-cart-items-lg-font-size: .75em;
		--wooc-cart-items-color: var(--color-white);
		--wooc-cart-items-font-weight: 700;




		/*
		CheckOut
		// ------------
		// Campi registrazione
		*/

		/* Titoli dei gruppi di campi */
		--wooc-checkout-billing-group-title-font-family: var(--secondary-font-family);
		--wooc-checkout-billing-group-title-font-size: 1.25rem;
		--wooc-checkout-billing-group-title-font-weight: 700;
		--wooc-checkout-billing-group-title-color: var(--headings-color);
		--wooc-checkout-billing-group-title-margin-top: 1.5rem;
		--wooc-checkout-billing-group-title-margin-bottom: 1.25rem;


		/* Label dei campi */
		/* Su Woocommerce usiamo un set diverso di proprietà rispetto a CF7 perché vanno sovrascritte quelle di WooCommerce */
		--wooc-checkout-billing-label-font-family: $primary-font-family;
		--wooc-checkout-billing-label-font-size: var(--input-label-font-size);
		--wooc-checkout-billing-label-font-weight: 300 !important;
		--wooc-checkout-billing-label-color: var(--input-label-color);
		--wooc-checkout-billing-label-line-height: 1;
		--wooc-checkout-billing-label-margin-bottom: 0em;
		--wooc-checkout-billing-label-padding: var(--input-label-padding);

		/* Gli altri aspetti dei campi di registrazioni sono definiti in Forms */



		/* Review Ordine
		$wooc-checkout-review-order-product-name-font-family: $primary-font-family;
		$wooc-checkout-review-order-product-name-font-size: 1em; // eredita dimensioni da body
		$wooc-checkout-review-order-product-name-font-weight: 500;
		$wooc-checkout-review-order-product-name-line-height: 1.1;
		$wooc-checkout-review-order-product-name-color: $site-headings-color;

		$wooc-checkout-review-order-label-font-family: $primary-font-family;;
		$wooc-checkout-review-order-label-font-size: .875em;
		$wooc-checkout-review-order-label-font-weight: 300;
		$wooc-checkout-review-order-label-color: $grey-darker;
		$wooc-checkout-review-order-label-tt: uppercase;
		$wooc-checkout-review-order-total-label-font-size: 1.125em;
		$wooc-checkout-review-order-total-label-font-weight: 700;

		$wooc-checkout-review-order-price-font-size: inherit; // inherit prende il font-size dal price standard
		$wooc-checkout-review-order-price-color: inherit;
		$wooc-checkout-review-order-subtotal-price-font-size: inherit;
		$wooc-checkout-review-order-total-price-font-size: 1.75em;


		// Didascalia messaggio inserisci un coupon
		$wooc-coupon-message-label-font-family: $secondary-font-family;
		$wooc-coupon-message-label-font-size: .875em;
		$wooc-coupon-message-label-line-height: 1.1;
		$wooc-coupon-message-label-color: $grey-dark;
		$wooc-apply-coupon-height: 2.25rem; // Altezza sia di input che di button


		// Opzioni di pagamento
		// in generale possono essere tenute uguali ai billing-group-title
		// La label si allinea di default in basso rispetto all'elemnto input affiancato quindi non sarà mai compleatmente allineate a prescindere da line-heigth etc..
		$wooc-payment-method-label-font-family: $wooc-checkout-billing-group-title-font-family;
		$wooc-payment-method-label-font-size: 1.125rem;
		$wooc-payment-method-label-font-weight: $wooc-checkout-billing-group-title-font-weight;
		$wooc-payment-method-label-color: $wooc-checkout-billing-group-title-color;
		*/









		/*------------------------------------*\
			+Is Dark
		\*------------------------------------*/

		--isdark-body-color: var(--color-isdark-default);

		--isdark-text-selection-color: var(--text-selection-color);
		--isdark-text-selection-bg: var(--text-selection-bg);

		--isdark-anchor-color: var(--color-isdark-interactive);
		--isdark-anchor-text-decoration: underline solid var(--color-isdark-weak);
		--isdark-anchor-hover-color:  var(--color-isdark-interactive-hover);
		--isdark-anchor-hover-text-decoration: underline solid var(--color-isdark-full);
		--isdark-headings-color: var(--color-isdark-full);
		--isdark-toptitle-color: var(--color-isdark-default);
		--isdark-subtitle-color: var(--color-isdark-default);
		--isdark-paragraph-color: var(--color-isdark-weak);
		--isdark-lead-color: var(--color-isdark-default);
		--isdark-li-color: var(--isdark-body-color); /* Ancora da capire come gestirlo nel css */

		--isdark-menu-hv-color: var(--color-isdark-default);
		--isdark-menu-hv-text-decoration: underline solid var(--color-isdark-default);
		--isdark-menu-hv-hover-text-decoration: underline solid var(--color-isdark-weak);

		--isdark-input-color: var(--color-isdark-full);


	}
}
