/*------------------------------------*\
	Button Regular
\*------------------------------------*/


button, .button, .tag,
.facetwp-load-more {
    @apply inline-flex items-center justify-center cursor-pointer fill-current;
	padding: var(--button-py) var(--button-px);
	color: var(--button-color);
	font-size: var(--button-font-size);
	font-weight: var(--button-font-weight);
	line-height: var(--button-line-height);
	margin-bottom: var(--button-mb);
	border-radius: var(--button-rounded);
	border: 2px solid var(--button-border-color);
	background-color: var(--button-background);
	transition: var(--button-transition);
	text-transform: var(--button-text-transform);
	text-decoration: var(--button-text-decoration);
}


	button .icon, .button .icon, .tag .icon,
	.facet-wp-load-more .icon {
		color: var(--button-icon-color);
		fill: var(--button-icon-color);
	}

@media (min-width:640px) {
    .button,
    .facetwp-load-more {
    }
}


.button .text-wrapper * {
	transition: var(--button-transition);
	color: var(--button-color);
}



/* Hover ----- */

.button:hover, .tag:hover,
.facetwp-load-more:hover {
	background-color: var(--button-hover-background);
    border-color: var(--button-hover-border-color);
	text-decoration: var(--button-hover-text-decoration);
	shadow: var(--button-hover-shadow);
}

.button:hover .icon, .tag:hover .icon,
.facetwp-load-more:hover .icon {
	color: var(--button-hover-icon-color);
	fill: var(--button-hover-icon-color);
}


/* Specifiche Tag ----- */

.tag {

}


/* Primary -----
Si aggiunge comunque la versione primary perché in alcuni casi il colore del pulsante potrebbe essere assegnato alle variabili come non primary
*/


.button.primary:not(.hollow) {
	@apply bg-primary border-primary;
}

.button.primary:hover:not(.hollow) {
	@apply bg-primary-300 border-primary-300;
}


/* Secondary ----- */

.button.secondary:not(.hollow) {
	@apply bg-secondary border-secondary;
}

.button.secondary:hover:not(.hollow) {
	@apply bg-secondary-300 border-secondary-300;
}


/* Accent ----- */

.button.accent:not(.hollow) {
	@apply bg-accent border-accent;
}

.button.accent:hover:not(.hollow) {
	@apply bg-accent-300 border-accent-300;
}


/* Black ----- */

.button.black:not(.hollow) {
	@apply bg-black border-black;
}

.button.black:hover:not(.hollow) {
	@apply bg-white border-black text-black;
}

.button.black:hover:not(.hollow) .text-wrapper {
	@apply text-black;
}



/* Success ----- */

.button.success:not(.hollow) {
	@apply bg-success border-success;
}

.button.success:hover:not(.hollow) {
	@apply bg-success-300 border-success-300;
}


/* warning ----- */

.button.warning:not(.hollow) {
	@apply bg-warning border-warning;
}

.button.warning:hover:not(.hollow) {
	@apply bg-warning-300 border-warning-300;
}


/* alert ----- */

.button.alert:not(.hollow) {
	@apply bg-alert border-alert;
}

.button.alert:hover:not(.hollow) {
	@apply bg-alert-300 border-alert-300;
}





/*------------------------------------*\
	Button Hollow
\*------------------------------------*/

.button.hollow {
	background: var(--button-hollow-background);
	color: var(--button-hollow-color);
	border: 2px solid var(--button-hollow-border-color);
}

.button.hollow:hover,
.facetwp-load-more:hover {
	background: var(--button-hollow-hover-background);
	color: var(--button-hollow-hover-color);
	border: 2px solid var(--button-hollow-hover-border-color);
}

/* Hollow white ----- */

.button.hollow.white {
	@apply text-white border-white;
}

.button.hollow.white:hover {
	color: var(--color-primary);
	@apply bg-white;
}


/* Hollow secondary ----- */

.button.hollow.secondary {
	@apply text-secondary border-secondary;
}

.button.hollow.secondary:hover {
	color: var(--button-hollow-hover-color);
	@apply bg-secondary;
}


/* Hollow success ----- */

.button.hollow.success {
	@apply text-success border-success;
}

.button.success:hover {
	color: var(--button-hollow-hover-color);
	@apply bg-success;
}


/* Hollow warning ----- */

.button.hollow.warning {
	@apply text-warning border-warning;
}

.button.warning:hover {
	color: var(--button-hollow-hover-color);
	@apply bg-warning;
}


/* Hollow alert ----- */

.button.hollow.alert {
	@apply text-alert border-alert;
}

.button.alert:hover {
	color: var(--button-hollow-hover-color);
	@apply bg-alert;
}



/*------------------------------------*\
	Button Disabled
\*------------------------------------*/

:disabled, .disabled {
	@apply bg-gray-500 border-gray-500 cursor-not-allowed opacity-50 !important;
}




/*------------------------------------*\
	Button con Icona
\*------------------------------------*/


.button ._icon-wrap {
	height: var(--button-icon-ratio);
	width: var(--button-icon-ratio);
	margin-right: calc(var(--button-icon-ratio) / 2);
	position: relative;
}




/*------------------------------------*\
	TAG
\*------------------------------------*/

/* I tag sono generalmente identici ai button, solo cambiano di solito lo spessore del testo dentro e il colore */

