/* Google maps */

.acf-map {
    @apply w-full;
    height: var(--map-height);
}

@media (min-width:960px) {
    .acf-map {
        height: 75vh;
    }
}

.gm-style-iw {
    min-width: 240px;
}

._google-maps {
	height: var(--sm-map-height);
}

@media (min-width:960px) {
	._google-maps {
		height: var(--lg-map-height);
	}
}
