/* Menu items Generic Rules */

.menu .menu-item,
.menu .menu-item a {
    @apply block relative p-4 text-base;
    width: max-content;
}

.menu .menu-item-icon {
    @apply mr-8;
}

.menu .menu-item-icon a svg {
    @apply block w-5 h-5;
}

.menu-item-separator {
    @apply w-full h-5;
}

@media (max-width: 960px) {
    .menu .menu-item-icon,
    .menu .menu-item-icon a,
    .menu .menu-item-icon a svg {
        @apply inline-block;
    }
}


/* Off Canvas Menus */


/* Desktop */

.off-canvas-desktop {
    background-color: var(--bg-color-off-canvas-desktop);
    opacity: var(--opacity-off-canvas-desktop);
}

.off-canvas-desktop .menu .menu-item,
.off-canvas-desktop .menu .menu-item a {
    @apply p-2 text-xl font-bold text-white;
}


/* Mobile */

.off-canvas-mobile {
    background-color: var(--bg-color-off-canvas-mobile);
    opacity: var(--opacity-off-canvas-mobile);
    @apply pb-16;
}

.off-canvas-mobile .menu {
    @apply w-full p-8;
}

.off-canvas-mobile .menu .menu-item {
    @apply w-full;
}

.off-canvas-mobile .menu .menu-item a {
    @apply pt-1 pl-8 w-full text-xl font-bold text-black;
}


/* Hamburger */

@media (min-width:960px) {
    .menu .menu-item-icon.menu-item-icon-hamburger {
        @apply hide;
    }
}

.ham-bars-container {
    @apply block w-5 h-5;
    margin-top: 3px;
}

.ham-bars-container .ham-bars {
    @apply w-5 block relative transition-all duration-200 ease-in-out;
    background-color: var(--color-hamburger);
    height: 2px;
}

.ham-bars-container .ham-bars::before,
.ham-bars-container .ham-bars::after {
    content: "";
    background-color: var(--color-hamburger);
    height: 2px;
    @apply w-5 block absolute transition-all duration-200 ease-in-out;
}

.ham-bars-container .ham-bars::before {
    top: 16px;
}

.ham-bars-container .ham-bars::after {
    top: 8px;
}

.hamburger-modal.open .ham-bars {
    @apply bg-transparent;
}

.hamburger-modal.open .ham-bars::before {
    transform: rotate(-225deg);
    top: 8px;
}

.hamburger-modal.open .ham-bars::after {
    transform: rotate(-135deg);
    top: 8px;
}


/* Menu aux  */

.menu-aux .menu-item a {
    @apply text-xs;
}

.menu-aux .menu,
.menu-aux .menu .menu-item {
    @apply p-0;
}

.menu-aux .menu .menu-item a {
    @apply p-3;
}

.menu-aux .menu .menu-item a:hover {
    @apply text-primary;
}


/* Desktop absolute & fixed */

body.absolute-menu .desktop-navigation {
    @apply absolute top-0 left-0 w-full z-10;
}

body.fixed-menu .desktop-navigation {
    @apply fixed top-0 left-0 w-full z-10;
}

body.absolute-menu .desktop-navigation .menu .menu-item a,
body.absolute-menu .desktop-navigation .menu .menu-item-icon a,
body.fixed-menu .desktop-navigation .menu .menu-item a,
body.fixed-menu .desktop-navigation .menu .menu-item-icon a {
    @apply text-white;
}

body.absolute-menu .desktop-navigation .menu .menu-item a:hover,
body.fixed-menu .desktop-navigation .menu .menu-item a:hover {
    @apply text-gray-900;
}

body.absolute-menu .desktop-navigation .menu .menu-item-icon a:hover,
body.fixed-menu .desktop-navigation .menu .menu-item-icon a:hover {
    @apply text-primary;
}


/* Submenu (overlay with js) */


/* Mobile */

.dropdown {
    @apply hide;
}

.menu-off-canvas-mobile .menu-item-has-children>a::before,
.menu-off-canvas-mobile .menu-item-has-children>a::after {
    content: "";
    background-color: var(--color-hamburger);
    height: 3px;
    @apply w-4 block absolute transition-all duration-200 ease-in-out;
    right: 0;
}

.menu-off-canvas-mobile .menu-item-has-children>a::before {
    top: 16px;
    transform: rotate(90deg);
}

.menu-off-canvas-mobile .menu-item-has-children>a::after {
    top: 16px;
}

.menu-off-canvas-mobile .menu-item-has-children.open>a::before {
    top: 16px;
    transform: rotate(-225deg);
}

.menu-off-canvas-mobile .menu-item-has-children.open>a::after {
    top: 16px;
    transform: rotate(-135deg);
}

@media (max-width: 960px) {
    .dropdown {
        display: block;
    }
}

.menu-desktop .menu-right .menu-item a.text-white {
    color: #fff !important;
}

.menu-desktop .menu-right .menu-item a.text-white:hover {
    color: #000 !important;
}

.dummy-wrap {
    @apply fixed left-0 z-5 w-full;
}

.dummy {
    @apply fixed left-0 z-6 w-full flex flex-wrap bg-primary;
}

.dummy div {
    @apply w-1/2 h-full flex items-center;
}

.dummy ul {
    @apply grid gap-8 grid-cols-2;
}

.dummy li {
    @apply border-t-2 border-black;
}

.dummy li a {
    @apply text-xl block p-4 w-full text-black relative z-0;
}

.dummy li a span {
    @apply block mb-2 font-primary text-black text-2xl;
}

.dummy li:hover a,
.dummy li:hover a span {
    @apply text-primary;
}

.dummy li a span::before {
    content: '';
    @apply bg-secondary block absolute;
    height: 2px;
    width: 80px;
    top: -2px;
    left: 0;
}

.dummy li a:before {
    transform: scaleX(0);
    transform-origin: bottom left;
}

.dummy li a:hover::before {
    /* @apply transform transform-gpu origin-bottom-left; */
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dummy li a::before {
    content: '';
    @apply block absolute top-0 right-0 bottom-0 left-0 bg-black;
    /* inset: 0 0 0 0; */
    z-index: -1;
    transition: transform .3s ease;
}

@media (max-width: 960px) {
    .menu-desktop .menu-item.hide-medium {
        display: none !important;
    }
}

@media (min-width: 640px) {
    .menu-desktop .menu-item {
        @apply p-0;
    }
    .menu-desktop .menu-item a {
        @apply p-5;
    }
    .menu-desktop .menu-item a,
    .menu-desktop .menu-item-icon a,
    .dummy a {
        @apply text-gray-900;
    }
    .menu-desktop .menu-item a:hover {
        @apply bg-primary text-gray-900;
    }
}


/* Responsive main wrapper (menu fixed) */

@media (max-width: 919px) {
    .main {
        @apply pt-12;
        /* Fixed menu height */
    }
}
