.off-canvas-mobile,
.nav-layers-mobile-subnav {
    @apply top-0 left-full bg-white h-full w-11/12 transition-all duration-500 shadow-xl;
}

.nav-layers-mobile-subnav {
    @apply fixed;
    z-index: 51;
}

.off-canvas-mobile.show,
.nav-layers-mobile-subnav.show {
    left: calc( 100% / 12);
}

.off-canvas-mobile .menu .menu-item,
.nav-layers-mobile-submenu .menu-item {
    @apply p-1 my-1 leading-tight border-b border-gray-200;
}

.off-canvas-mobile .menu .menu-item:first-child,
.nav-layers-mobile-submenu .menu-item:first-child {
    @apply border-t;
}

.off-canvas-mobile .menu .menu-item a,
.nav-layers-mobile-submenu .menu-item a {
    @apply text-base p-1 font-medium block;
}

.menu-off-canvas-mobile .menu-item-has-children>a::before {
    top: 10px;
    @apply transform rotate-45;
}

.menu-off-canvas-mobile .menu-item-has-children>a::after {
    top: 20px;
    @apply transform -rotate-45;
}

.nav-layers-mobile {
    @apply fixed inset-0 w-full h-full bg-black bg-opacity-95 hide;
    z-index: 49;
}

.nav-layers-mobile-nav {
    @apply m-8 flex justify-between items-center p-1;
}

.off-canvas-mobile .nav-layers-mobile-nav {
    @apply justify-end;
}

.nav-layers-mobile-nav-title {
    @apply font-medium leading-none;
}

.nav-layers-mobile-nav-close,
.nav-layers-mobile-nav-back {
    @apply relative h-4 w-4;
}

.nav-layers-mobile-nav-close:before,
.nav-layers-mobile-nav-close:after,
.nav-layers-mobile-nav-back:before,
.nav-layers-mobile-nav-back:after {
    content: "";
    background-color: var(--color-hamburger);
    height: 3px;
    @apply block absolute w-4 left-0 transform cursor-pointer;
}

.nav-layers-mobile-nav-close:before {
    @apply rotate-45;
    top: 6px;
}

.nav-layers-mobile-nav-close:after {
    @apply -rotate-45;
    top: 6px;
}

.nav-layers-mobile-nav-back:before {
    @apply rotate-45;
    top: 10px;
}

.nav-layers-mobile-nav-back:after {
    @apply -rotate-45 top-0;
}

.nav-layers-mobile-submenu {
    @apply p-8;
}

.nav-layers-mobile-submenu .icon,
.nav-layers-mobile-nav-title .icon {
    @apply hide;
}

.nav-layers-mobile-submenu .menu-item-has-children {
    @apply relative;
}

.nav-layers-mobile-submenu .menu-item-has-children a::before,
.nav-layers-mobile-submenu .menu-item-has-children a::after {
    background-color: var(--color-hamburger);
    content: "";
    height: 3px;
    @apply block absolute right-0 w-4;
}

.nav-layers-mobile-submenu .menu-item-has-children a::before {
    top: 10px;
    @apply transform rotate-45;
}

.nav-layers-mobile-submenu .menu-item-has-children a::after {
    top: 20px;
    @apply transform -rotate-45;
}