/*------------------------------------*\

Elementi custom Progetto
------------------------

- block white standard rules
- block gray standard rules

\*------------------------------------*/


/*------------------------------------*\
    Primo block standard classes
\*------------------------------------*/

/*
Queste classi hanno funzioni miste.
Alcune individuano una funzione precisa, che è già stata individuata nei modelli, è stata nominata e viene applicata trasversalmente a tutto.
es. _row-w-default, è chiaro che tutte le righe hanno una larghezza massima che dichiariamo ovunque ci interessi e ciao.
Altre invece individuano una coorddinata dentro un blocco, e sono inserite senza attributi oggi ma per poterle eventualmente manipolare a posteriori.
*/


._primo-default-row {
	@apply max-w-screen-xl mx-auto;
}

	._primo-default-title-main {
		@apply max-w-screen-md mx-auto h2 mb-0 uppercase;
	}

/* Questa regola va a cascata ad applicarsi a tutte le classi di row che fanno @apply _primo-default-row e impatta sulle colonne che contengono */
@media (min-width: 960px) {
	._primo-default-row > .wp-block-column {
		@apply px-8;
	}
}

/*------------------------------------*\
    Containers Main Rules
\*------------------------------------*/

._white-container {
	@apply rounded-b-xl px-4 pb-8;
}

	._white-container-row-main-title {
		@apply relative z-20 py-4 rounded-t-xl _primo-default-row bg-white; /* Solo py-4 perché c'è già gutter default colonna */
	}

		._white-container-col-main-title {
			@apply w-full;
		}


._gray-container {
	@apply rounded-b-xl mb-8 px-4 pb-8 bg-gray-100;
}

	._gray-container-row-main-title {
		@apply _primo-default-row relative z-20 mb-8;
	}

		._gray-container-col-main-title {
			@apply w-full py-8 rounded-b-xl bg-white;
		}


@media (min-width: 640px) {
	._white-container,
	._gray-container {
		@apply px-8;
	}
}

@media (min-width: 960px) {
	._white-container,
	._gray-container {
		@apply px-16;
	}
}

@media (min-width: 1280px) {
	._white-container,
	._gray-container {
		@apply px-24;
	}
}



/*------------------------------------*\
    BT White basic
\*------------------------------------*/

._title-main-bt-white-basic {
	@apply _primo-default-title-main;
}

._row-description-bt-white-basic {
	@apply _primo-default-row;
}

._row-cta-bt-white-basic {
	@apply _primo-default-row;
}

	._col-cta-bt-white-basic { }

		._cta-main-bt-white-basic { }



/*------------------------------------*\
    BT Gray basic
\*------------------------------------*/

._title-main-bt-gray-basic {
	@apply _primo-default-title-main;
}

._row-description-bt-gray-basic {
	@apply _primo-default-row;
}

._row-cta-bt-gray-basic { }

	._col-cta-bt-gray-basic { }

	 	._cta-main-bt-gray-basic { }



/*------------------------------------*\
    BT White img+text
\*------------------------------------*/

		._title-main-bt-white-img-txt {
			@apply _primo-default-title-main;
		}

._row-main-bt-white-img-txt {
	@apply _primo-default-row;
}

	._col-description-bt-white-img-txt { }

	._col-image-bt-white-img-txt {
		padding: 0 !important;
	 }

		._figure-bt-white-img-txt {
			@apply rounded-lg overflow-hidden;
		}





/*------------------------------------*\
    BT Gray Grid Items
\*------------------------------------*/

._title-main-bt-grid-items {
	@apply _primo-default-title-main;
 }

._row-description-bt-grid-items {
	@apply max-w-screen-lg mx-auto;
 }

	._col-description-bt-grid-items {
		@apply text-center;
	 }


._row-images-bt-grid-items {
	@apply max-w-screen-lg mx-auto;
}

	._col-image-bt-grid-items {
		@apply text-center py-8;
	 }

		._figure-bt-grid-items {
			@apply w-32 mx-auto mb-4;
		}

			._img-title-bt-grid-items {
				@apply h7 font-medium mb-0 uppercase;
			}


._row-cta-bt-grid-items {
	@apply pt-8;
 }

	._col-cta-bt-grid-items { }


@media (min-width: 640px) {

}

@media (min-width: 960px) {

}

@media (min-width: 1280px) {

}


/*------------------------------------*\
    BT Gray Image + Icons
\*------------------------------------*/

._container-bt-gray-img-icons { }

			._title-main-bt-gray-img-icons {
				@apply _primo-default-title-main;
			}

	._row-main-bt-gray-img-icons {
		@apply _primo-default-row;
	}

		._col-image-bt-gray-img-icons { }

			._figure-bt-gray-img-icons {
				@apply rounded-lg overflow-hidden;
			}

		._col-icons-bt-gray-img-icons { }

			._title-icon-bt-gray-img-icons {
				@apply h4 uppercase;
			}


._row-cta-bt-gray-img-icons { }

	._col-cta-bt-gray-img-icons { }


@media (min-width: 640px) {

}

@media (min-width: 960px) {

}

@media (min-width: 1280px) {

}



/*------------------------------------*\
    BT In Depth
\*------------------------------------*/

._container-bt-in-depth {
	@apply pt-8 mb-8;
	background-image: linear-gradient(to top, #f5f5f5, transparent 50%);
}

	._row-main-bt-in-depth {
		@apply _primo-default-row;
	}

		._col-main-image-bt-in-depth {
			@apply relative pb-0;
		}

			._figure-main-image-bt-in-depth {
				@apply rounded-lg mix-blend-multiply;
			}

				._figure-main-image-bt-in-depth img {
					@apply max-w-screen-sm mx-auto;
				}

		._col-info-bt-in-depth {
			@apply py-12;
		 }

			._title-main-bt-in-depth {
				@apply mb-8 uppercase;
			}

			._row-images-bt-in-depth {
				@apply mb-8;
			}

				._col-image-bt-in-depth {}

					._figure-bt-in-depth {
						@apply w-16 mx-auto mb-4;
					}

						._img-title-bt-in-depth {
							@apply h7 font-medium mb-0 text-center;
							line-height: 1.1;
						}


			._cta-main-bt-in-depth {
				@apply mt-4;
			}


@media (min-width: 640px) {
	._container-bt-in-depth {
		@apply px-8;
	}

	._col-main-image-bt-in-depth {	}

}

@media (min-width: 960px) {
	._container-bt-in-depth {
		@apply px-16;
	}

		._figure-main-image-bt-in-depth {
			max-width: none;
		}

			._figure-main-image-bt-in-depth img {
				@apply absolute bottom-0 right-0;
				max-width: none;
				height: 100%;
				width: auto;
			}
}

@media (min-width: 1280px) {
	._container-bt-in-depth {
		@apply px-24;
	}
}


/*------------------------------------*\
    BT In Depth Img Dx
\*------------------------------------*/

._container-bt-in-depth {
	@apply overflow-hidden;
}

	._row-main-bt-in-depth-img-dx {
		@apply _primo-default-row;
	}

		._col-info-bt-in-depth-img-dx {
			@apply py-12;
		}

		._col-main-image-bt-in-depth-img-dx {
			@apply relative pb-0;
		}

			._figure-main-image-bt-in-depth-img-dx {
				@apply rounded-lg mix-blend-multiply;
			}

				._figure-main-image-bt-in-depth-img-dx img {
					@apply max-w-screen-sm mx-auto;
				}



@media (min-width: 960px) {

	._figure-main-image-bt-in-depth-img-dx {
		max-width: none;
	}

		._figure-main-image-bt-in-depth-img-dx img {
			@apply absolute bottom-0 left-0;
			max-width: none;
			height: 100%;
			width: auto;
		}

}



/*------------------------------------*\
    BT List Numbers
\*------------------------------------*/

._container-bt-list-numbers {
	@apply mt-8 rounded-b-xl;
}
			._title-main-bt-list-numbers {
				@apply max-w-screen-md mx-auto h2 mb-0 uppercase;
			}

	._row-main-bt-list-numbers {
		@apply _primo-default-row items-center;
	 }

		._col-image-bt-list-numbers {
			@apply p-0;
		}

			._figure-bt-list-numbers {
				width: 80%;
			 }

		._col-info-bt-list-numbers { }

			._ol-title-1-bt-list-numbers {
				@apply h4 mb-0 text-secondary uppercase;
			}

			._ol-title-2-bt-list-numbers {
				@apply h4 mb-2 uppercase;
			}


@media (min-width: 640px) {
	._container-bt-list-numbers {
		@apply px-8;
	}
}

@media (min-width: 960px) {
	._container-bt-list-numbers {
		@apply px-16;
	}
}

@media (min-width: 1280px) {
	._container-bt-list-numbers {
		@apply px-24;
	}
}


/*------------------------------------*\
    BT List Check
\*------------------------------------*/

._container-bt-list-check {
	@apply rounded-b-xl mb-8 px-4 bg-gray-100 overflow-hidden;
}

		._title-main-bt-list-check {
			@apply max-w-screen-md mx-auto h2 mb-0 uppercase;
		}

	._row-main-bt-list-check {
		@apply _primo-default-row items-center;
	}

		._col-info-bt-list-check { }

			._col-image-bt-list-check {
				@apply pb-0;
			}

				._figure-bt-list-check {
					@apply rounded-lg overflow-hidden mix-blend-multiply;
				}


@media (min-width: 640px) {
	._container-bt-list-check {
		@apply px-8;
	}
}

@media (min-width: 960px) {
	._container-bt-list-check {
		@apply px-16;
	}
}

@media (min-width: 1280px) {
	._container-bt-list-check {
		@apply px-24;
	}
}


/*------------------------------------*\
    BT FAQ
\*------------------------------------*/

._container-bt-faq {
	@apply rounded-b-xl px-4 pb-8;
}

	._row-main-title-bt-faq {
		@apply _primo-default-row;
	}

		._col-main-title-bt-faq {

		}

			._title-main-bt-faq {
				@apply h2 mb-0 uppercase;
			}

	._row-main-bt-faq {
		@apply _primo-default-row;
	}

@media (min-width: 640px) {
	._container-bt-faq {
		@apply px-8;
	}
}

@media (min-width: 960px) {
	._container-bt-faq {
		@apply px-16;
	}
}

@media (min-width: 1280px) {
	._container-bt-faq {
		@apply px-24;
	}
}


/*------------------------------------*\
    BT Form
\*------------------------------------*/

._container-bt-form {
	@apply rounded-b-xl px-4 py-8 bg-gray-100 overflow-hidden;
}

	._row-main-bt-form {
		@apply _primo-default-row;
	}

		._title-main-bt-form {
			@apply max-w-screen-md;
		}

		._figure-bt-form {
			@apply w-24;
		}


@media (min-width: 640px) {
	._container-bt-form {
		@apply px-8;
	}
}

@media (min-width: 960px) {
	._container-bt-form {
		@apply px-16;
	}
}

@media (min-width: 1280px) {
	._container-bt-form {
		@apply px-24;
	}
}


/*------------------------------------*\
    BT Newsletter
\*------------------------------------*/

._container-bt-newsletter {
	@apply rounded-b-xl px-4 py-8 bg-gray-100 overflow-hidden;
}

	._row-main-title-bt-newsletter {
		@apply _primo-default-row;
	}

		._col-main-title-bt-newsletter {
			@apply max-w-screen-lg mx-auto;
		}

			._title-main-bt-newsletter {
				@apply max-w-screen-md mx-auto h2 uppercase;
			}

	._row-main-bt-newsletter {
		@apply _primo-default-row;
	}

		._col-img-bt-newsletter { }

			._figure-bt-newsletter {
				@apply w-48 mx-auto;
			}

		._col-form-bt-newsletter { }


@media (min-width: 640px) {
	._container-bt-newsletter {
		@apply px-8;
	}
}

@media (min-width: 960px) {
	._container-bt-newsletter {
		@apply px-16;
	}
}

@media (min-width: 1280px) {
	._container-bt-newsletter {
		@apply px-24;
	}
}


/* facetwp locator icon */
.locate-me, .location-attribution {
	display: none;
}
